{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app id="inspire" mobile-breakpoint="sm">
  <jhMenu/>
  <v-main class="d-flex flex-column" style="margin-top: 60px">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="pageSecondBar d-flex px-8">
      <div>
        <div class="appTitle pt-3" style="font-size: 18px; font-weight: 700">{{ breadcrumbs[1].fullText }}
          <!-- 帮助页按钮 -->
          <v-icon @click="isHelpPageDrawerShow = true" small>mdi-help-circle-outline</v-icon>
        </div>
        <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
      </div>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->
    <div class="pageBodyContainer px-8" style="flex: 1;">
      <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
        <v-card style="padding: 0 10px">
          <div>
            <v-card class="d-flex flex-column custom-cloudDrive" flat v-if="currentDirectory">
              <v-toolbar flat dense class="px-0 mt-2 custom-toolbar">
                <template v-if="!(path && isDir) || isRecycle">
                  <!--            Breadcrumbs.html start -->
                  <div>
                    <v-menu offset-y v-if="currentDirectory.length > 1">
                      <template v-slot:activator="{ on }">
                        <v-btn icon class="storage-select-button mr-3" v-on="on">
                          <v-icon>mdi-arrow-down-drop-circle-outline</v-icon>
                        </v-btn>
                      </template>
                      <v-list class="storage-select-list">
                        <v-list-item v-for="(item, index) in currentDirectory" :key="index"
                                     :disabled="item.code === storageObject.code" @click="changeStorage(item.code)">
                          <v-list-item-icon>
                            <v-icon v-text="item.icon"></v-icon>
                          </v-list-item-icon>
                          <v-list-item-title>{{ item.name }}</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                    <div class="d-flex">
                      <v-btn height="26" color="#E8F5E9" style="margin-top: 1px;" @click="fileBack" class="ma-0 success--text elevation-0">
                        <v-icon class="mr-1" small>mdi-arrow-left</v-icon>
                        上一级
                      </v-btn>
                      <v-breadcrumbs class="py-0 px-4" style="margin-top: 1px; margin-left: 10px; background-color: #E8F5E9; border-radius: 4px;word-break: break-all;">
                        <v-breadcrumbs-item :input-value="path === '/'" @click="changePath('/')" role="button">
                          <v-icon class="mr-2" color="success">{{ storageObject.icon }}</v-icon>
                          <span style="font-size: 14px;" class="font-weight-medium success--text">{{ storageObject.name.endsWith('_recycle') ? '回收站' : storageObject.name }}</span>
                        </v-breadcrumbs-item>
                        <v-breadcrumbs-item
                            v-for="(segment, index) in pathSegments"
                            :input-value="index === pathSegments.length - 1" :key="index + '-btn'"
                            @click="changePath(segment.path)"
                            role="button">
                          <v-icon color="success">mdi-chevron-right</v-icon>
                          <span style="font-size: 14px;" class="ml-2 font-weight-medium success--text">{{ segment.name.endsWith('_recycle') ? '回收站' : segment.name }}</span>
                        </v-breadcrumbs-item>
                      </v-breadcrumbs>
                    </div>
                  </div>
                  <!--            Breadcrumbs.html end -->

                  <div class="flex-grow-1"></div>
                </template>

                <!-- toolbar start -->
                <div v-if="!isRecycle">
                  <input v-show="false" style="opacity: 0; position: absolute; top: -200px" ref="inputUpload1" type="file" multiple
                         @change="addFiles"/>
                  <div>
                    <template v-if="pathIsFloder">
                      <!-- 上传文件 -->
                      <v-btn small v-if="path" depressed @click="$refs.inputUpload1.click()" title="Upload Files" :disabled="path === '/'">
                        <v-icon class="mr-1" small>mdi-folder-upload</v-icon>
                        <$ constantUiMap.btn.upload $>
                      </v-btn>
                      <!-- 创建文档文件 -->
                      <v-btn small v-if="path" depressed @click="$emit('create-markdown')" title="Upload Files" :disabled="path === '/'">
                        <v-icon class="mr-1" small>mdi-text-box-plus</v-icon>
                        新建文档
                      </v-btn>
                      <!-- 粘贴文件夹 -->
                      <v-btn small v-if="path && currentCopyPath" depressed @click="pasteItem()" class="ml-1"
                             title="<$ constantUiMap.btn.paste $>" :disabled="path === '/'">
                        <v-icon class="mr-1" small>mdi-file-replace</v-icon>
                        <$ constantUiMap.btn.paste $>
                      </v-btn>
                      <!-- 创建文件夹 -->
                      <v-menu v-if="path" v-model="newFolderPopper" :close-on-content-click="false" :nudge-width="200"
                              offset-y>
                        <template v-slot:activator="{ on }">
                      <span>
                          <v-btn small v-if="path" depressed color="success" v-on="on" class="ml-1" :disabled="path === '/'">
                              <v-icon class="mr-1" small>mdi-folder-multiple-plus</v-icon>
                              <$ constantUiMap.btn.createFolder $>
                          </v-btn>
                      </span>
                        </template>
                        <v-card>
                          <v-card-text>
                            <v-text-field color="success" label="<$ constantUiMap.btn.fileName $>" v-model="newFolderName" hide-details
                                          filled
                                          single-line dense></v-text-field>
                          </v-card-text>
                          <v-card-actions>
                            <div class="flex-grow-1"></div>
                            <v-btn @click="newFolderPopper = false" :disabled="mkdirIng" depressed small><$ constantUiMap.btn.cancel $></v-btn>
                            <v-btn color="success" :disabled="!newFolderName || mkdirIng" depressed @click="mkdir" small>
                              <v-progress-circular v-if="mkdirIng" indeterminate :size="18" color="primary"></v-progress-circular>
                              {{ mkdirIng ? '正在创建' : '<$ constantUiMap.btn.create $>' }}
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-menu>
                    </template>
                  </div>
                </div>
                <!-- toolbar end -->

                <!-- 搜索  -->
                <template v-if="path && isDir && !isRecycle">
                  <div class="flex-grow-1"></div>
                  <div style="width: 300px;">
                    <v-text-field
                        dense
                        filled
                        single-line
                        hide-details="auto"
                        label="Search Files & Folders" v-model="filter" prepend-inner-icon="mdi-magnify"
                        color="success"></v-text-field>
                  </div>
                </template>
              </v-toolbar>
              <v-row no-gutters class="custom-list-panel">
                <v-col class="mt-2">
                  <v-toolbar flat dense v-if="(path && isDir) && !isRecycle" class="pr-4 table-toolbar">
                    <breadcrumbs
                        :path="path"
                        :storages="storagesArray"
                        :storage="currentDirectory"
                        v-on:storage-changed="storageChanged"
                        v-on:path-changed="pathChanged"
                    >
                    </breadcrumbs>
                    <v-spacer></v-spacer>
                    <template>
                      <v-chip
                          class="ma-2 pa-2"
                          color="green"
                          text-color="white"
                          small>
                        {{ totalCount }} items
                      </v-chip>
                      <v-btn icon @click="refreshing = true" small>
                        <v-progress-circular indeterminate v-if="refreshing" :size="20" color="primary"></v-progress-circular>
                        <v-icon v-else>mdi-refresh</v-icon>
                      </v-btn>
                    </template>
                  </v-toolbar>

                  <!-- List start -->
                  <v-card flat ref="list" style="width: 100%;">

                    <v-card-text v-if="!path" class="grow d-flex justify-center align-center grey--text"><$ constantUiMap.btn.selectFile
                      $>
                    </v-card-text>

                    <!-- 文件预览 -->
                    <v-card-text v-else-if="isFile" class="grow d-flex justify-center align-center">
                      <div class="flex flex-column justify-center align-center text-center">
                        <v-img v-if="fileType === 'image'" min-width="30" max-width="500" min-height="30" max-height="500"
                               :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${path}?v=${new Date().getTime()}`" :key="path"
                               lazy-src=""
                               class="grey lighten-2 mb-5" style="margin: auto; cursor: pointer;"
                               @click="openFile(`/<$ ctx.app.config.appId $>/upload/cloudDrive${path}?v=${new Date().getTime()}`)">
                        </v-img>
                        <video v-if="fileType === 'video'" width="80%" min-width="30" max-width="500" min-height="30" max-height="500"
                               style="height: 70vh"
                               :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${path}?v=${new Date().getTime()}`" :key="path"
                               lazy-src=""
                               class="grey lighten-2 mb-5" style="display: block; margin: auto;" controls>
                          <source :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${path}?v=${new Date().getTime()}`"
                                  type="video/mp4">
                        </video>
                        <audio v-if="fileType === 'audio'" min-width="30" max-width="500" min-height="30" max-height="500"
                               :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${path}?v=${new Date().getTime()}`" :key="path"
                               lazy-src=""
                               class="my-10" style="display: block; margin: auto;" controls>
                          <source :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${path}?v=${new Date().getTime()}`"
                                  type="audio/mpeg">
                        </audio>
                        <div><$ constantUiMap.btn.file $>：{{ `${host}/<$ ctx.app.config.appId $>/upload/cloudDrive${path}` }}</div>
                        <!--                    </template>-->
                      </div>
                    </v-card-text>

                    <template v-else>
                      <div v-if="dataLoading && !dirs.length && !files.length && isDir" class="d-flex align-center pa-10 dataLoading" style="justify-content: center">
                        <v-progress-circular indeterminate :size="20" color="primary"></v-progress-circular>
                        <span>读取目录中</span>
                      </div>
                      <!-- 文件列表 -->
                      <v-card-text v-if="dirs.length || files.length" class="pa-0">

                        <v-data-table
                            :headers="headers"
                            mobile-breakpoint="0"
                            :items="tableData"
                            item-key="path"
                            :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                            :items-per-page="20"
                            mobile-breakpoint="0"
                            :class="{'zebraLine': showTableZebraLine }"
                            checkbox-color="success"
                            fixed-header
                            :data-bottom="110"
                            class="elevation-0 listDataTable fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
                        >
                          <template v-slot:item.name="{ item }">
                            <div v-if="item.type === 'dir'" @click="changePath(item.path)" role="button">
                              <v-icon v-if="item.basename.endsWith('_recycle')">mdi-delete-clock-outline</v-icon>
                              <v-icon v-else>mdi-folder-outline</v-icon>
                              <span class="ml-2">{{ item.basename.endsWith('_recycle') ? '回收站' : item.basename }}</span>
                            </div>
                            <div v-else @click="changePath(item.path)" class="d-flex" role="button">
                              <template>
                                <v-avatar
                                    tile
                                    v-if="checkIsImg(item.basename)"
                                    class=""
                                    size="25"
                                >
                                  <v-img :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${path}/${item.basename}?v=${new Date().getTime()}`"></v-img>
                                </v-avatar>
                                <v-icon v-else>{{ fileIconList[item.extension.toLowerCase()] || fileIconList['other'] }}</v-icon>
                              </template>
                              <span style="flex: 1" class="ml-2">{{ item.basename }}</span>
                            </div>
                          </template>
                          <template v-slot:item.size="{ item }">
                            {{ item.type === 'file' ? (item.size ? formatBytes(item.size) : '-') : '' }}
                          </template>
                          <template v-slot:item.mtime="{ item }">
                            {{ item.type === 'file' ? (item.type === 'file' && item.mtime ? dayjs.unix(item.mtime).format("YYYY-MM-DD HH:mm:ss") : '-') : '' }}
                          </template>
                          <template v-slot:item.action="{ item }">
                            <div class="text-right" v-if="item.type === 'dir' && path !== '/'">
                              <v-tooltip top v-if="operationOption.delete === true && item.path.indexOf('/_recycle/') === -1 && roleId === 'teacher'">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-btn v-bind="attrs" v-on="on" icon @click.stop="deleteItem(item)">
                                    <v-progress-circular v-if="deleteIngItemPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                                    <v-icon v-else color="grey lighten-1">mdi-delete-outline</v-icon>
                                  </v-btn>
                                </template>
                                <span>移入回收站</span>
                              </v-tooltip>
                            </div>
                            <template v-if="item.type === 'file'">
                              <div class="text-right" v-if="item.path.indexOf('_recycle') === -1">
                                <template v-if="item.sync">
                                  <v-progress-circular indeterminate :size="18" color="primary"></v-progress-circular>
                                  <span>同步中</span>
                                </template>
                                <template v-else>
                                  <v-tooltip top v-if="item.extension === 'md'">
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="editItem(item)">
                                        <v-progress-circular v-if="loadMdContentPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                                        <v-icon v-else color="grey lighten-1" style="font-size: 20px;">mdi-text-box-edit-outline</v-icon>
                                      </v-btn>
                                    </template>
                                    <span>编辑文档</span>
                                  </v-tooltip>
                                  <v-menu v-if="operationOption.renameFile === true" v-model="item.newFolderPopper"
                                          :close-on-content-click="false" :nudge-width="200" offset-y>
                                    <template v-slot:activator="{ on }">
                        <span>
                            <v-btn v-if="path" icon v-on="on" @click="item.newFilename=item.basename;">
                                <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-rename-box</v-icon>
                            </v-btn>
                        </span>
                                    </template>
                                    <v-card>
                                      <v-card-text>
                                        <v-text-field label="<$ constantUiMap.btn.fileName $>" v-model="item.newFilename" hide-details
                                                      color="success"
                                                      dense
                                                      filled
                                                      single-line></v-text-field>
                                      </v-card-text>
                                      <v-card-actions>
                                        <div class="flex-grow-1"></div>
                                        <v-btn @click="item.newFolderPopper = false" small depressed><$ constantUiMap.btn.cancel $></v-btn>
                                        <v-btn small color="success" :disabled="!item.newFilename" depressed @click="renameFile(item)"><$
                                          constantUiMap.btn.rename $>
                                        </v-btn>
                                      </v-card-actions>
                                    </v-card>
                                  </v-menu>
                                  <v-tooltip top v-if="operationOption.copy === true && roleId === 'teacher'">
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="cutItem(item)">
                                        <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-cut</v-icon>
                                      </v-btn>
                                    </template>
                                    <span>剪切</span>
                                  </v-tooltip>
                                  <v-tooltip top v-if="operationOption.copy === true">
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="copyItem(item)">
                                        <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-copy</v-icon>
                                      </v-btn>
                                    </template>
                                    <span>复制</span>
                                  </v-tooltip>
                                  <v-tooltip top v-if="operationOption.delete === true && roleId === 'teacher'">
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="deleteItem(item)">
                                        <v-progress-circular v-if="deleteIngItemPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                                        <v-icon v-else color="grey lighten-1">mdi-delete-outline</v-icon>
                                      </v-btn>
                                    </template>
                                    <span>移入回收站</span>
                                  </v-tooltip>
                                </template>
                              </div>
                              <div v-else class="text-right">
                                <v-tooltip top v-if="operationOption.copy === true && roleId === 'teacher'">
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-bind="attrs" v-on="on" icon @click.stop="cutItem(item)">
                                      <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-cut</v-icon>
                                    </v-btn>
                                  </template>
                                  <span>剪切</span>
                                </v-tooltip>
                              </div>
                            </template>
                          </template>
                          <!--表格底部右侧功能按钮-->
                          <template v-slot:footer.prepend>
                            <v-menu top offset-y :close-on-content-click="false">
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" icon>
                                  <v-icon>mdi-menu</v-icon>
                                </v-btn>
                              </template>
                              <v-list>
                                <v-list-item>
                                  <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
                                </v-list-item>
                              </v-list>
                            </v-menu>
                          </template>
                          <!--表格底部右侧分页-->
                          <template v-slot:footer.page-text="pagination">
                            <span>{{ pagination.pageStart }}-{{ pagination.pageStop }}</span>
                            <span class="ml-1">共{{ pagination.itemsLength }}条</span>
                          </template>
                        </v-data-table>
                      </v-card-text>
                      <!-- 为空提示 -->
                      <v-card-text v-else-if="filter" class="grow d-flex justify-center align-center grey--text py-10">
                        {{ dataLoading ? '' : '<$ constantUiMap.btn.fileNotFound $>' }}
                      </v-card-text>
                      <v-card-text v-else class="grow d-flex justify-center align-center grey--text py-10">
                        {{ dataLoading ? '' : '<$ constantUiMap.btn.folderEmpty $>' }}
                      </v-card-text>
                    </template>
                  </v-card>
                  <!-- List end -->

                </v-col>
              </v-row>
              <!-- fileBrowserUpload start -->
              <v-overlay
                  v-if="uploadingFiles !== false"
                  style="z-index: 10;">
                <v-card flat light class="mx-auto" :loading="loading" style="width: 600px;">
                  <!-- header -->
                  <v-toolbar flat dense dark style="background-color: #fff;">
                    <div class="black--text ml-2" style="font-size: 16px;"><$ constantUiMap.btn.upload $><$ constantUiMap.btn.file $>
                    </div>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                      <v-btn text @click="uploadingFiles = false">
                        <v-icon class="black--text" style="font-size: 18px;">mdi-close</v-icon>
                      </v-btn>
                    </v-toolbar-items>
                  </v-toolbar>
                  <v-divider style="border-color: #eff2f5;opacity:0.8;"></v-divider>

                  <!-- 按钮区 -->
                  <v-card-text>
                    <input v-show="false" ref="inputUpload" type="file" multiple @change="add"/>
                    <v-btn color="success" depressed @click="$refs.inputUpload.click()"
                           title="<$ constantUiMap.common.select $><$ constantUiMap.btn.file $>">
                      <v-icon class="mr-1" small>mdi-file-plus</v-icon>
                      <$ constantUiMap.common.select $><$ constantUiMap.btn.file $>
                    </v-btn>
                    <v-btn depressed @click="upload" class="ml-1" :disabled="!files || files.length === 0"
                           title="<$ constantUiMap.btn.uploadAll $>">
                      <v-icon class="mr-1" small>mdi-file-upload</v-icon>
                      <$ constantUiMap.btn.uploadAll $>
                    </v-btn>
                    <v-btn depressed @click="clear" class="ml-1" :disabled="!files || files.length === 0"
                           title="<$ constantUiMap.btn.removeAll $>">
                      <v-icon class="mr-1" small>mdi-file-remove</v-icon>
                      <$ constantUiMap.btn.removeAll $>
                    </v-btn>
                  </v-card-text>

                  <!-- 文件列表 -->
                  <v-card-text v-if="listItems.length" class="py-0 files-list-wrapper">
                    <v-list v-if="listItems.length">
                      <v-list-item v-for="(file, index) in listItems" :key="index" style="background-color: #f5f8fa;border-radius: 6px;" class="mb-2">
                        <v-list-item-avatar>
                          <v-img v-if="file.preview" :src="file.preview"></v-img>
                          <v-icon v-else v-text="fileIconList[file.extension] || 'mdi-file'" class="mdi-36px" color="grey lighten-1"></v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title v-text="file.name"></v-list-item-title>
                          <v-list-item-subtitle>{{ formatBytes(file.size) }} - {{ file.type }}</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action class="d-flex">
                          <v-btn icon @click="remove(index)" small>
                            <v-icon samll style="font-size: 16px;">mdi-close</v-icon>
                          </v-btn>
                        </v-list-item-action>
                      </v-list-item>
                    </v-list>
                  </v-card-text>

                  <!-- 空提示 -->
                  <v-card-text v-else class="py-6 text-center">
                    暂无文件~
                  </v-card-text>

                  <!-- footer -->
                  <v-divider style="border-color: #eff2f5;opacity:0.8;"></v-divider>
                  <v-card-text class="py-3 d-flex justify-space-between" style="color:#A1A5B7;">
                    <div>
                      <span><$ constantUiMap.btn.uploadTo $>:</span>
                      <span class="ml-2">{{ path }}</span>
                    </div>
                    <div>
                      <span v-if="maxUploadFilesCount"><$ constantUiMap.btn.maxFilesCount $>: {{ maxUploadFilesCount }}</span>
                      <span v-if="maxUploadFileSize"><$ constantUiMap.btn.maxFileSize $>: {{ formatBytes(maxUploadFileSize) }}</span>
                    </div>
                  </v-card-text>
                </v-card>
              </v-overlay>
              <!-- fileBrowserUpload end -->
            </v-card>
            <div v-else class="d-flex align-center pa-10" style="justify-content: center">
              <v-progress-circular indeterminate :size="20" color="primary"></v-progress-circular>
              <span>加载中</span>
            </div>
          </div>
        </v-card>

        <!-- Confirm start -->
        <v-dialog @ref="confirm" v-model="dialog" :max-width="options.width" @keydown.esc="cancel" @click:outside="cancel">
          <v-card>
            <v-card-title class="text-h5" v-if="title">
              {{ title }}
            </v-card-title>
            <v-card-text v-if="message" class="text-center">
              <v-icon large color="warning" class="mb-5 mt-10">mdi-alert-circle-outline</v-icon>
              <p v-html="message"></p>
            </v-card-text>
            <v-card-actions class="pt-0 pb-10 justify-center">
              <v-btn depressed :color="options.color" @click="agree" style="width: 100px;">
                <$ constantUiMap.common.sure $>
              </v-btn>
              <v-btn text @click="cancel" style="width: 100px;">
                <$ constantUiMap.btn.cancel $>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <!-- Confirm end -->

      </v-container>
      <!-- <<<<<<<<<<<<< 页面内容 -->
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShow" fixed temporary right width="80%" hide-overlay
                         class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
              height="100%"></iframe>

      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
             @click="isHelpPageDrawerShow = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jhToast/>
<jhMask/>
<jhConfirmDialog/>

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
const cloudDriveDirectory = [
  {
    name: "网盘",
    code: "cloudDrive",
    icon: "mdi-cloud-circle"
  }
];

const endpoints = {
  list: {url: "/storage/{storage}/list?path={path}", method: "get"},
  upload: {url: "/storage/{storage}/upload?path={path}", method: "post"},
  mkdir: {url: "/storage/{storage}/mkdir?path={path}", method: "post"},
  delete: {url: "/storage/{storage}/delete?path={path}", method: "post"}
};

const fileIconList = {
  // zip: "mdi-folder-zip-outline",
  // rar: "mdi-folder-zip-outline",
  // htm: "mdi-language-html5",
  // html: "mdi-language-html5",
  // js: "mdi-nodejs",
  // json: "mdi-json",
  md: "mdi-sticker-text-outline",
  // pdf: "mdi-file-pdf",
  png: "mdi-file-image",
  jpg: "mdi-file-image",
  jpeg: "mdi-file-image",
  mp4: "mdi-filmstrip",
  mkv: "mdi-filmstrip",
  avi: "mdi-filmstrip",
  wmv: "mdi-filmstrip",
  mov: "mdi-filmstrip",
  txt: "mdi-file-document-outline",
  // xls: "mdi-file-excel",
  // other: "mdi-file-outline"
};

const imageMimeTypes = ["image/png", "image/jpeg"];

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    breadcrumbs: window.breadcrumbs,
    isHelpPageDrawerShow: false,

    showTableZebraLine: true,
    // 表格相关数据
    storages: cloudDriveDirectory.map(item => item.code).join(","),
    // 成员的角色: teacher / student
    roleId: "cloudRole",
    // 根目录
    storage: "cloudDrive",
    // show tree view
    tree: true,
    // file fileIconList set
    fileIconList: fileIconList,
    // custom backend endpoints
    endpoints: endpoints,
    // custom configuration for internal axios instance
    // max files count to upload at once. Unlimited by default
    maxUploadFilesCount: 0,
    // max file size to upload. Unlimited by default
    maxUploadFileSize: 1024 * 1024 * 1024,
    imageMaxUploadFileSize: 700 * 1024,

    materialType: '',
    operationOption: {delete: true, copy: true, recycle: true, renameFile: true},

    filter: "",
    totalCount: 0,
    loading: 0,
    path: "/cloudDemo/",
    isMarkdownEditDialogShow: false,
    currentDirectory: null,
    uploadingFiles: false, // or an Array of files
    // 用于让子组件做监听，有变化时对当前目录做刷新
    refreshing: false,
    currentCopyPath: '',
    willEditMarkdownItem: null,
    moreBtn: [{value: 'mkDir', title: '创建文件夹'}, {value: 'rename', title: '重命名'}, {
      value: 'cut',
      title: '剪切'
    }, {value: 'paste', title: '粘贴'}],

    dialog: false,
    resolve: null,
    reject: null,
    message: null,
    title: null,
    options: {
      color: "error",
      width: 400,
    },
    host: window.location.host,
    directoryAndFileList: [],
    page: 1,
    pageSize: 20,
    dataLoading: false,
    oldPath: '',
    deleteIngItemPath: null,
    loadMdContentPath: null,
    viewingMarkdown: null,
    headers: [
      {
        text: '文件名',
        align: 'start',
        value: 'name',
        width: '40%'
      },
      {text: '大小', value: 'size', width: '20%'},
      {text: '更新时间', value: 'mtime', width: '20%'},
      {text: '', value: 'action', sortable: false}
    ],
    uploading: false,
    progress: 0,
    listItems: [],
    newFolderPopper: false,
    newFolderName: "",
    mkdirIng: false,
    dayjs: dayjs
  }),
  computed: {
    isRecycle() {
      return this.path.endsWith('_recycle/');
    },
    storagesArray() {
      let storageCodes = this.storages.split(",");
      const result = [];
      storageCodes.forEach(code => {
        result.push(cloudDriveDirectory.find(item => item.code == code));
      });
      return result;
    },
    isMobile() {
      return window.innerWidth < 500;
    },
    isDir() {
      return this.path[this.path.length - 1] === "/";
    },
    // Breadcrumbs.html
    pathSegments() {
      let path = "/",
          isFolder = this.path[this.path.length - 1] === "/",
          segments = this.path.split("/").filter(item => item);

      segments = segments.map((item, index) => {
        path +=
            item + (index < segments.length - 1 || isFolder ? "/" : "");
        return {
          name: item,
          path
        };
      });

      return segments;
    },
    storageObject() {
      return this.storagesArray.find(item => item.code == this.currentDirectory);
    },
    dirs() {
      const list = this.directoryAndFileList.filter(
          item => item.type === "dir" && item.basename.includes(this.filter)
      );
      if (this.roleId !== 'teacher') {
        return list.filter(item => !item.basename.endsWith('_recycle'));
      }
      return list;
    },
    files() {
      return this.directoryAndFileList.filter(
          item => item.type === "file" && item.basename.includes(this.filter)
      );
    },
    tableData() {
      return this.dirs.concat(this.files)
    },
    totalCount() {
      return this.files.length;
    },
    totalPage() {
      return Math.ceil(this.files.length / this.pageSize);
    },
    isFile() {
      return !this.isDir;
    },
    fileType() {
      const ext = this.path.substring(this.path.lastIndexOf('.') + 1);
      if (ext) {
        if (['jpg', 'jpeg', 'png', 'gif', 'ico', 'svg'].includes(ext.toLowerCase())) {
          return 'image';
        }
        if (['mp4'].includes(ext.toLowerCase())) {
          return 'video';
        }
        if (['mp3'].includes(ext.toLowerCase())) {
          return 'audio';
        }
        if (['md'].includes(ext.toLowerCase())) {
          return 'markdown';
        }
      }
      return '';
    },
    pathIsFloder() {
      return this.path[this.path.length - 1] === "/";
    },
  },
  watch: {
    async dataLoading(value, oValue) {
      if (value && !oValue || this.oldPath !== this.path) {
        this.oldPath = this.path;
        await this.getFolderAndFileListByPath('watch:dataLoading');
        this.refreshing = false;
      }
    },
    async path() {
      this.directoryAndFileList = [];
      this.syncCacheData(this.path);
      this.dataLoading = true;
    },
    async refreshing(value) {
      if (value) {
        this.dataLoading = true;
      }
    },
    fileType(value) {
      if (value === 'markdown') {
        this.getMarkdownDetail();
      } else {
        this.viewingMarkdown = null;
      }
    },
    uploadingFiles: {
      deep: true,
      immediate: true,
      async handler() {
        this.loading = true;
        this.listItems = await this.filesMap(this.uploadingFiles);
        this.loading = false;
      }
    }
  },
  async created() {
    this.currentDirectory = this.storage;
    await this.doUiAction('refreshTableData');

    this.oldPath = this.path;
    this.directoryAndFileList = [];
    this.syncCacheData(this.path);
    this.dataLoading = true;
  },
  mounted() {
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },

    // 创建/修改文本文档
    operationMarkdown(item) {
      this.isMarkdownEditDialogShow = true;
    },

    async saveMarkdown({content, mdName}) {
      this.addMarkdownFileToCache(mdName);
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'saveMarkdown',
            actionData: {
              content,
              name: mdName,
              path: this.path
            },
          }
        }
      });
      this.willEditMarkdownItem = null;
      this.isMarkdownEditDialogShow = false;
      this.refreshing = true;
    },
    onDataLoading(event) {
      this.refreshing = event;
    },
    closeMaterialPicker() {
    },
    loadingChanged(loading) {
      if (loading) {
        this.loading++;
      } else if (this.loading > 0) {
        this.loading--;
      }
      this.totalCount = this.tableData.length
    },
    storageChanged(storage) {
      this.currentDirectory = storage;
    },
    checkImageMaxUploadFileSize(files) {
      if (this.imageMaxUploadFileSize) {
        const checkImageSizeError = this.materialType === 'image' && files.find(
            file => file.size > this.imageMaxUploadFileSize
        )
        if (checkImageSizeError) {
          window.vtoast.fail('部分图片文件大于 700K, 请重新压缩过后再上传素材');
          files = files.filter(
              file => file.size <= this.imageMaxUploadFileSize
          );
        }
      }
    },
    addUploadingFiles(files) {
      files = Array.from(files);

      this.checkImageMaxUploadFileSize(files);

      if (this.uploadingFiles === false) {
        this.uploadingFiles = [];
      }

      if (this.maxUploadFilesCount && this.uploadingFiles.length + files.length > this.maxUploadFilesCount) {
        files = files.slice(0, this.maxUploadFilesCount - this.uploadingFiles.length);
      }

      this.uploadingFiles.push(...files);
    },
    removeUploadingFile(index) {
      this.uploadingFiles.splice(index, 1);
    },
    uploaded() {
      this.uploadingFiles = false;
      this.refreshing = true;
    },
    pathChanged(path) {
      this.path = path;
    },
    async syncMoveOrCopyFileRequest(fromDir, toDir, filename) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: this.pasteMode === 'cut' ? 'moveFile' : 'copyFile',
            actionData: {
              fromDir,
              toDir,
              filename,
            },
          }
        }
      });
    },
    refreshData(fromDir, toDir) {
      this.$refs.list.dataLoading = true;
      if (this.pasteMode === 'cut') {
        this.currentCopyPath = null
      }
    },
    async _pasteItem() {
      window.vtoast.loading(this.pasteMode === 'cut' ? '文件移动中' : '文件复制中');
      if (this.refreshing) {
        requestAnimationFrame(() => {
          this.pasteItem();
        })
        return;
      }
      const fromDir = this.currentCopyPath.substring(0, this.currentCopyPath.lastIndexOf('/') + 1);
      const toDir = this.path;
      const filename = this.currentCopyPath.substring(this.currentCopyPath.lastIndexOf('/') + 1);
      this.$refs.list.syncMoveOrCopyFileToCache(fromDir, toDir, filename, this.pasteMode === 'cut' ? 'moveFile' : 'copyFile');
      await this.syncMoveOrCopyFileRequest(fromDir, toDir, filename);
      window.vtoast.success(this.pasteMode === 'cut' ? '文件移动成功' : '文件复制成功');
      this.refreshData(fromDir, toDir);
    },
    async _editItem({content, path}) {
      console.log('editItem', path)
      this.willEditMarkdownItem = {
        content: content,
        name: path.substring(path.lastIndexOf('/') + 1)
      };
      this.isMarkdownEditDialogShow = true;
    },
    _cutItem(path) {
      this.currentCopyPath = path
      this.pasteMode = 'cut'
      window.vtoast.success('<$ constantUiMap.btn.cut $>');
      console.log('cutItem', this.currentCopyPath)
    },
    _copyItem(path) {
      this.currentCopyPath = path
      this.pasteMode = 'copy'
      window.vtoast.success('<$ constantUiMap.btn.copied $>');
      console.log('copyItem', this.currentCopyPath)
    },
    readFolderByPath(path) {
    },
    // Breadcrumbs.html
    fileBack() {
      let path = this.path;
      if (path.endsWith('/')) {
        path = path.substring(0, path.length - 1);
      }
      if (path !== '') {
        this.pathChanged('path.substring(0, path.lastIndexOf(\'/\') + 1)');
      } else {
        this.pathChanged("/")
      }
    },
    changeStorage(code) {
      if (this.currentDirectory != code) {
        this.storageChanged(code)
        this.pathChanged("")
      }
    },
    _changePath(path) {
      this.pathChanged(path)
    },

    open(title, message, options) {
      this.dialog = true;
      this.title = title;
      this.message = message;
      this.options = Object.assign(this.options, options);
      return new Promise((resolve, reject) => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },
    agree() {
      this.resolve(true);
      this.dialog = false;
    },
    cancel() {
      this.resolve(false);
      this.dialog = false;
    },
    getTotalCount() {
      return this.tableData.length;
    },
    checkIsImg(filename) {
      return /\.(jpg|jpeg|png|GIF|JPG|PNG)$/.test(filename);
    },
    changePath(path) {
      this._changePath(path)
    },
    addMarkdownFileToCache(mdName) {
      let directoryAndFileMapCache = this.getDirectoryAndFileMapFromCache();
      const getPath = this.path.replace(/\//g, '_');
      const getKey = 'directoryAndFile_' + getPath;
      if (!directoryAndFileMapCache.hasOwnProperty(getKey)) {
        directoryAndFileMapCache[getKey] = [];
      }
      const mdExist = directoryAndFileMapCache[getKey].some(item => {
        if (item.name === mdName) {
          item.sync = true;
          return true;
        }
        return false
      })
      if (!mdExist)
        directoryAndFileMapCache[getKey].push({
          "type": "file",
          "path": this.path,
          "name": `${mdName}.md`,
          "basename": `${mdName}.md`,
          "sync": true,
          "extension": "md",
          "size": 16,
        });
      this.directoryAndFileList = directoryAndFileMapCache[getKey];
      localStorage.setItem('directoryAndFileMapCache', JSON.stringify(directoryAndFileMapCache));
    },
    async getFolderAndFileListByPath(prevMethod) {
      console.log("getFolderAndFileListByPath::prevMethod", prevMethod);
      this.loadingChanged(true)
      if (this.isDir) {
        const path = this.path;
        const fileOrDirList = await this.getDataRequest(path);
        this.syncCacheData(path, fileOrDirList);
      } else {
        // TODO: getFolderAndFileListByPath file
      }
      this.dataLoading = false;
      this.loadingChanged(false)
    },
    async getDataRequest(path) {
      return (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'list',
            actionData: {path},
          }
        }
      })).data.appData.resultData.rows;
    },
    async deleteItem(item) {
      let confirmed = await this.open(
          false,
          `<$ constantUiMap.btn.sureDelete $>${item.type === "dir" ? "<$ constantUiMap.btn.folder $>" : "<$ constantUiMap.btn.file $>"
          }? <br/> <em>${item.basename}</em>`
      );

      if (confirmed) {
        this.loadingChanged(true)
        await this.syncDeleteRequest(item);
        this.dataLoading = true;
        this.refreshing = true
        this.loadingChanged(false)
      }
    },
    async syncDeleteRequest(item) {
      this.deleteIngItemPath = item.path;
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'delete',
            actionData: {path: item.path},
          }
        }
      })
      this.deleteIngItemPath = null;
    },
    async markdownDetailRequest(path) {
      return (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'getMarkdownContent',
            actionData: {
              path,
            },
          }
        }
      })).data.appData.resultData.mdContent;
    },
    async getMarkdownDetail() {
      this.viewingMarkdown = await this.markdownDetailRequest(this.path);
    },
    async editItem(item) {
      this.loadMdContentPath = item.path;
      const result = await this.markdownDetailRequest(item.path);
      this.loadMdContentPath = null;
      this._editItem({content: result, path: item.path})
    },
    async cutItem(item) {
      this._cutItem(item.path)
    },
    // pasteMode: 'moveFile', 'copyFile'
    syncMoveOrCopyFileToCache(fromDir, toDir, filename, pasteMode) {
      console.log(fromDir, toDir, filename, pasteMode)
      if (fromDir !== toDir) {
        const fromPath = fromDir.replace(/\//g, '_');
        const toPath = this.path.replace(/\//g, '_');
        // 获取cache obj
        const fromKey = 'directoryAndFile_' + fromPath;
        const toKey = 'directoryAndFile_' + toPath;
        let directoryAndFileMapCache = this.getDirectoryAndFileMapFromCache();
        if ((Object.keys(directoryAndFileMapCache) || []).indexOf(toKey) > -1) {
          directoryAndFileMapCache[toKey].push({
            "type": "file",
            "path": toDir,
            "name": filename.substring(0, filename.lastIndexOf('.')),
            "basename": filename,
            "sync": true,
            "extension": filename.substring(filename.lastIndexOf('.') + 1),
            "size": 0,
          });
        }
        if (pasteMode === 'moveFile') {
          if ((Object.keys(directoryAndFileMapCache) || []).indexOf(fromKey) > -1) {
            directoryAndFileMapCache[fromKey] = directoryAndFileMapCache[fromKey].filter(item => {
              return item.basename !== filename;
            });
          }
        }
        this.directoryAndFileList = directoryAndFileMapCache[toKey];
        localStorage.setItem('directoryAndFileMapCache', JSON.stringify(directoryAndFileMapCache));
      }
    },
    async copyItem(item) {
      this._copyItem(item.path)
    },
    formatBytes(bytes, decimals = 2) {
      if (bytes === 0) return '0 bytes';

      const k = 1024;
      const dm = decimals < 0 ? 0 : decimals;
      const sizes = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

      const i = Math.floor(Math.log(bytes) / Math.log(k));

      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    },
    openFile(path) {
      window.open(path)
    },
    async renameFile(item) {
      const {path, newFilename} = item;
      if (!newFilename) {
        window.vtoast.fail('<$ constantUiMap.btn.enterFileName $>');
        return;
      }
      window.vtoast.loading("<$ constantUiMap.btn.fileRename $>");
      await this.syncRenameRequest(path, newFilename);
      item.newFolderPopper = false;
      await this.getFolderAndFileListByPath('renameFile');
      const isDir = item.path[item.path.length - 1] === "/";
      const pathDir = isDir ? item.path : item.path.substring(0, item.path.lastIndexOf('/') + 1);
      this.readFolderByPath(pathDir)
      window.vtoast.success('<$ constantUiMap.btn.renamedSuccess $>');
    },
    async syncRenameRequest(path, newFilename) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'renameFile',
            actionData: {
              path,
              newFilename
            },
          }
        }
      })
    },
    /**
     * ✅读取缓存数据
     */
    getDirectoryAndFileMapFromCache() {
      let directoryAndFileMapCache = localStorage.getItem('directoryAndFileMapCache');
      if(_.isEmpty(directoryAndFileMapCache)) return {};
      try {
        return JSON.parse(directoryAndFileMapCache);
      } catch (err) {
        return {};
      }
    },
    /**
     * ✅同步缓存数据
     * @param currentPath 当前目录
     * @param r_fileOrDirList 待保存的新数据
     */
    syncCacheData(currentPath, r_fileOrDirList) {
      const currentPathLabel = currentPath.replace(/\//g, '_');
      // 获取cache obj
      const currentPathKey = 'directoryAndFile_' + currentPathLabel;
      let directoryAndFileMapCache = this.getDirectoryAndFileMapFromCache();
      // 保存到cache
      if (r_fileOrDirList) {
        directoryAndFileMapCache[currentPathKey] = _.cloneDeep(r_fileOrDirList);
        localStorage.setItem('directoryAndFileMapCache', JSON.stringify(directoryAndFileMapCache));
      }
      // 从cache中取值
      if ((Object.keys(directoryAndFileMapCache) || []).indexOf(currentPathKey) > -1) {
        this.handleDirectoryData(directoryAndFileMapCache[currentPathKey])
      } else {
        this.cleanDirectoryData();
      }
    },
    async filesMap(files) {
      let promises = Array.from(files).map(file => {
        let result = {
          name: file.name,
          type: file.type,
          size: file.size,
          extension: file.name.split(".").pop()
        };
        return new Promise(resolve => {
          if (!imageMimeTypes.includes(result.type)) {
            return resolve(result);
          }
          var reader = new FileReader();
          reader.onload = function (e) {
            result.preview = e.target.result;
            resolve(result);
          };
          reader.readAsDataURL(file);
        });
      });

      return await Promise.all(promises);
    },

    async add(event) {
      let files = Array.from(event.target.files);
      this.addUploadingFiles(files)
      this.$refs.inputUpload.value = "";
    },

    remove(index) {
      this.removeUploadingFile(index)
      this.listItems.splice(index, 1);
    },

    clear() {
      this.uploadingFiles = []
      this.listItems = [];
    },

    async upload() {
      this.uploading = true;
      const that = this;
      for (let file of this.uploadingFiles) {
        window.vtoast.loading(`${file.name} <$ constantUiMap.btn.uploadProgress $>: 0.00%`);
        await window.jianghuAxios.httpUploadByStream({
          file,
          filenameStorage: file.name,
          fileDirectory: '/cloudDrive' + this.path,
          onProgress: (total, loaded) => {
            // TODO: that.progress <v-overlay :value="uploading"  ==>  不好使
            that.progress = Number((loaded * 100 / total).toFixed(2));
            window.vtoast.loading(`${file.name} <$ constantUiMap.btn.uploadProgress $>: ${that.progress}%`);
            if (loaded === total) {
              window.vtoast.success(`${file.name} <$ constantUiMap.btn.uploadProgress $>: 100%`);
            }
          }
        })
      }
      this.uploading = false;
      this.uploaded()
    },
    closePicker({path}) {
      this.closeMaterialPicker()
    },
    goUp() {
      let segments = this.pathSegments;
      let path;
      if (segments.length === 1)
        path = "/";
      else
        path = segments[segments.length - 2].path
      this.changePath(path);
    },
    async addFiles(event) {
      this.addUploadingFiles(event.target.files)
      this.$refs.inputUpload1.value = "";
    },
    async mkdir() {
      this.mkdirIng = true;
      await this.syncMkdirRequest();
      this.refreshing = true
      this.newFolderName = "";
      this.mkdirIng = false;
      this.newFolderPopper = false;
    },
    async syncMkdirRequest() {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'mkdir',
            actionData: {path: this.path + this.newFolderName},
          }
        }
      })
    },
    async clearRecycle() {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'clearRecycle',
            actionData: {path: this.path},
          }
        }
      })
    },
  },
})
</script>

<style>
.table-toolbar .v-toolbar__content {
  height: 30px !important;
}

.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #f5f8fa !important;
}

.v-text-field > .v-input__control > .v-input__slot:before,
.v-text-field > .v-input__control > .v-input__slot:after {
  display: none;
}
body .v-menu__content {
  margin-top: 20px;
}
@media screen and (max-width: 500px) {
  body .custom-cloudDrive {
    max-height: calc(100vh - 156px) !important;
    overflow: auto !important;
  }

  body .custom-toolbar,
  body .custom-toolbar .v-toolbar__content {
    height: auto !important;
  }

  body .custom-toolbar .v-toolbar__content {
    flex-wrap: wrap-reverse !important;
  }

  body .custom-toolbar .v-toolbar__content > div:last-child,
  body .custom-toolbar .v-toolbar__content > div:first-child {
    min-width: calc(100vw - 35px) !important;
  }

  body .custom-toolbar .v-toolbar__content > div:last-child {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  body .table-toolbar {
    height: auto !important;
  }

  body .table-toolbar .v-breadcrumbs {
    flex: 1 !important;
  }

  body .table-toolbar .v-toolbar__content {
    flex-wrap: wrap;
    height: auto !important;
  }

  body .table-toolbar .v-toolbar__content > div:first-child {
    min-width: calc(100vw - 35px) !important;
  }

  body .custom-list-panel {
  }
}


.file-list {
  max-height: calc(100vh - 195px);
  overflow: auto;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  color: #41434f;
  min-height: 52px;
  height: 52px;
}

td:not(.v-picker td), th:not(.v-picker th) {
  border-bottom: thin solid rgba(0, 0, 0, .06) !important;
}

td:not(:first-child):not(.v-picker td), th:not(:first-child):not(.v-picker th) {
  border-left: 0 !important;
}

.dataLoading {
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.listDataTable {
  padding: 0 !important;
}

.listDataTable td {
  white-space: nowrap !important;
}


::v-deep .v-overlay__content {
  width: 90%;
  max-width: 500px;
}

::v-deep .v-overlay__content .files-list-wrapper {
  max-height: 250px;
  overflow-y: auto;
}

.storage-select-list .v-list-item--disabled {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.storage-select-list .v-list-item--disabled .v-icon {
  color: #fff;
}

.v-breadcrumbs {
  margin-top: -3px;
}

</style>
{% endblock %}

