{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
  <v-app mobile-breakpoint="sm">
    <jh-menu />
    <v-main class="mt-15">
      <!-- 头部内容 >>>>>>>>>>>>> -->
      <div class="jh-page-second-bar px-8">
        <div class="pt-3 text-h7 font-weight-bold">doUiAction
          <!-- 帮助页按钮 -->
          <v-icon @click="isHelpPageDrawerShownn = true" color="success" small>mdi-help-circle-outline</v-icon>
        </div>
        <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
      </div>
      <!-- <<<<<<<<<<<<< 头部内容 -->
      <div class="jh-page-body-container px-8">
        <!-- 页面内容 >>>>>>>>>>>>> -->
        <v-card class="rounded-lg pa-4">
          <v-row class="ma-0 pa-0 mb-2">
            <!--✅目录de工具栏 >>>>>>>> -->
            <toolbar
              ref="toolbar"
              :currentPath="currentPath"
              :current-copy-path="currentCopyPath"
              v-on:paste-item="doUiAction('pasteItem')"
              v-on:add-files="doUiAction('addNewFileList', $event)"
              v-on:folder-created="doUiAction('refreshDirectory')"
              v-on:create-markdown="doUiAction('startCreateMarkdown')"
            >
            </toolbar>
            <v-spacer></v-spacer>
            <!--✅<<<<<<<< 目录de工具栏 -->
            <!--✅搜索 >>>>>>>> -->
            <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
              <v-text-field color="success" v-model="tableSearchText" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
            </v-col>
            <!--✅<<<<<<<<<< 搜索 -->
          </v-row>
          <v-row class="ma-0 mb-2 align-center">
            <!-- ✅路径面包屑栏 >>>>>>>> -->
            <!--上一级按钮-->
            <v-btn color="#E8F5E9" @click="goBack" small class="success--text elevation-0">
              <v-icon class="mr-1" small>mdi-arrow-left</v-icon>
              上一级
            </v-btn>
            <!--文件详情路径面包屑-->
            <breadcrumbs
              :current-path="currentPath"
              @change-path="doUiAction('changeCurrentPath', $event)">
            </breadcrumbs>
            <!-- ✅路径面包屑栏 >>>>>>>> -->
            <v-spacer></v-spacer>
            <template>
              <v-chip color="green" text-color="white" small>
                {{ totalCount }} items
              </v-chip>
              <v-btn icon @click="doUiAction('refreshDirectory')" small>
                <v-progress-circular indeterminate v-if="refreshing" :size="20" color="primary"></v-progress-circular>
                <v-icon v-else>mdi-refresh</v-icon>
              </v-btn>
            </template>
          </v-row>
          <v-row class="ma-0">
            <directory-or-file-detail
              ref="directoryOrFileDetail"
              :operation-option="operationOption"
              :currentPath="currentPath"
              :fileIconList="fileIconList"
              :role-id="roleId"
              :refreshing="refreshing"
              :tableSearchText="tableSearchText"
              :currentMarkdownPath="currentMarkdownPath"

              v-on:path-changed="doUiAction('changeCurrentPath', $event)"
              v-on:copy-item="doUiAction('copyItem', $event)"
              v-on:cut-item="doUiAction('cutItem', $event)"
              v-on:edit-markdown-item="doUiAction('startUpdateMarkdown', $event)"
              v-on:paste-item="doUiAction('pasteItem', $event)"
              v-on:total-change="doUiAction('setDirectoryTotal', $event)"
              v-on:refresh-status="doUiAction('onRefreshStatusChange', $event)"
              v-on:refresh-done="doUiAction('stopRefresh')"
              v-on:file-deleted="doUiAction('refreshDirectory')"
              style="width: 100%;"
            ></directory-or-file-detail>
          </v-row>
        </v-card>
        <!-- <<<<<<<<<<<<< 页面内容 -->
        <!-- 弹窗组件 >>>>>>>> -->
        <!--文档编辑器弹窗-->
        <md-dialog
          v-model="isMarkdownEditDialogShow"
          @save-content="doUiAction('saveMarkdown', $event)"
          :default-md="willEditMarkdownItem">
        </md-dialog>
        <!--上传文件弹窗-->
        <file-browser-upload
          v-if="uploadFileDialog"
          :current-path="currentPath"
          :file-list="uploadFileList"
          :file-icon-list="fileIconList"

          :max-upload-files-count="maxUploadFilesCount"
          :max-upload-file-size="maxUploadFileSize"
          v-on:add-files="doUiAction('addNewFileList', $event)"
          v-on:remove-file="doUiAction('removeUploadFileItem', $event)"
          v-on:clear-files="doUiAction('cleanUploadList')"
          v-on:cancel="doUiAction('cancelUpload')"
          v-on:uploaded="doUiAction('uploadSuccess')"
        ></file-browser-upload>
        <!-- <<<<<<<<<< 弹窗组件 -->
        <!--✌️<<<<<<<<<< 页面主体内容 -->
      </div>

      <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
      <v-navigation-drawer v-model="isHelpPageDrawerShown" fixed temporary right width="80%" hide-overlay class="elevation-24">
        <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
                height="100%"></iframe>
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
               @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
    </v-main>
  </v-app>

  <jh-toast />
  <jh-mask />
  <jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 网盘 -->

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'component/fileBrowser/breadcrumbs.html' %}
{% include 'component/fileBrowser/directoryOrFileDetail.html' %}
{% include 'component/fileBrowser/Toolbar.html' %}
{% include 'component/fileBrowser/fileBrowserUpload.html' %}
{% include 'component/fileBrowser/mdEdit.html' %}
{% include 'component/markdown2html/md2html.html' %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->
<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    breadcrumbs: [
      {text: '首页', disabled: true,},
      {text: 'doUiAction', disabled: true,}
    ],
    isHelpPageDrawerShown: false,
    showTableZebraLine: true,
    isMobile: window.innerWidth < 500,
    // 表格相关数据
    rootDirectory: Object.freeze({
      name: "网盘",
      code: "cloudDrive",
      icon: "mdi-cloud-circle"
    }),
    // 成员的角色: teacher / student 部分功能只有teacher能用
    roleId: "teacher",
    fileIconList: Object.freeze({
      // zip: "mdi-folder-zip-outline",
      // rar: "mdi-folder-zip-outline",
      // htm: "mdi-language-html5",
      // html: "mdi-language-html5",
      // js: "mdi-nodejs",
      // json: "mdi-json",
      md: "mdi-sticker-text-outline",
      // pdf: "mdi-file-pdf",
      png: "mdi-file-image",
      jpg: "mdi-file-image",
      jpeg: "mdi-file-image",
      mp4: "mdi-filmstrip",
      mkv: "mdi-filmstrip",
      avi: "mdi-filmstrip",
      wmv: "mdi-filmstrip",
      mov: "mdi-filmstrip",
      txt: "mdi-file-document-outline",
      // xls: "mdi-file-excel",
      // other: "mdi-file-outline"
    }),
    // max files count to upload at once. Unlimited by default
    maxUploadFilesCount: 0,
    // max file size to upload. Unlimited by default
    maxUploadFileSize: 1024 * 1024 * 1024,
    imageMaxUploadFileSize: 700 * 1024,

    materialType: '',
    operationOption: {delete: true, copy: true, recycle: true, renameFile: true},

    tableSearchText: "",
    totalCount: 0,
    currentPath: "/cloudDemo/",
    isMarkdownEditDialogShow: false,
    currentDirectory: null,
    currentMarkdownPath: null,
    uploadFileDialog: false, // or an Array of files
    uploadFileList: [], // or an Array of files
    // 目录刷新状态
    refreshing: false,
    currentCopyPath: '',
    willEditMarkdownItem: null,
    moreBtn: [
      {value: 'mkDir', title: '创建文件夹'},
      {value: 'rename', title: '重命名'},
      {value: 'cut', title: '剪切'},
      {value: 'paste', title: '粘贴'}
    ],
  }),
  computed: {
    // 文件夹
    currentPathIsDir() {
      return this.currentPath[this.currentPath.length - 1] === "/";
    },
    // 文件
    currentPathIsFile() {
      return !(this.currentPath && this.currentPathIsDir);
    },
  },
  async created() {
    this.currentDirectory = this.rootDirectory.code;
  },
  mounted() {
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'pasteItem':
          await this.pasteItem();
          await this.refreshDirectory();
          break;
        case 'copyItem':
          await this.copyItem(uiActionData);
          break;
        case 'cutItem':
          await this.cutItem(uiActionData);
          break;
        case 'changeCurrentPath':
          await this.changeCurrentPath(uiActionData);
          break;
        case 'refreshDirectory':
          await this.refreshDirectory();
          break;
        case 'stopRefresh':
          await this.stopRefresh();
          break;
        case 'onRefreshStatusChange':
          await this.onRefreshStatusChange(uiActionData);
          break;
        case 'setDirectoryTotal':
          await this.setDirectoryTotal(uiActionData);
          break;
        case 'startCreateMarkdown':
          await this.openMarkdownDialog();
          break;
        case 'startUpdateMarkdown':
          await this.prepareUpdateMarkdown(uiActionData);
          await this.openMarkdownDialog();
          break;
        case 'saveMarkdown':
          await this.createMarkdownFileToCache(uiActionData);
          await this.doSaveMarkdown(uiActionData);
          await this.cleanMarkdownEditFormData();
          await this.closeMarkdownDialog();
          await this.refreshDirectory();
          break;
        case 'addNewFileList':
          await this.addNewFileList(uiActionData);
          break;
        case 'removeUploadFileItem':
          await this.removeUploadFileItem(uiActionData);
          break;
        case 'cleanUploadList':
          await this.cleanUploadList();
          break;
        case 'cancelUpload':
          await this.onUploadCancel();
          break;
        case 'uploadSuccess':
          await this.onUploadSuccess();
          break;
      }
    },
    /**
     * ✅刷新当前目录
     */
    refreshDirectory() {
      console.log("刷新当前目录");
      this.refreshing = true;
    },
    /**
     * ✅停止刷新
     */
    stopRefresh() {
      this.refreshing = false;
    },
    /**
     * ✅读取缓存数据
     */
    getDirectoryAndFileMapFromCache() {
      let directoryAndFileMapCache = localStorage.getItem('directoryAndFileMapCache');
      if (!directoryAndFileMapCache) return '{}';
      return JSON.parse(directoryAndFileMapCache);
    },
    /**
     * ✅打开markdown编辑器弹窗
     * @param item
     */
    openMarkdownDialog(item) {
      this.isMarkdownEditDialogShow = true;
    },
    /**
     * ✅检查文件名
     * @param directoryAndFileMapCache
     * @param getKey
     * @param mdName
     * @returns {*}
     */
    checkFilenameIsExist(directoryAndFileMapCache, getKey, mdName) {
      return directoryAndFileMapCache[getKey].some(item => {
        if (item.name === mdName) {
          item.sync = true;
          return true;
        }
        return false
      });
    },
    /**
     * 新建文件对象
     * @param mdName
     * @returns {{path, extension: string, basename: string, size: number, name: string, type: string, sync: boolean}}
     */
    createNewMarkdownFileObject(mdName) {
      return {
        "type": "file",
        "path": this.currentPath,
        "name": `${mdName}.md`,
        "basename": `${mdName}.md`,
        "sync": true,
        "extension": "md",
        "size": 16,
      };
    },
    /**
     * ✅保存markdown文件到缓存
     * @param content
     * @param markdownName
     */
    createMarkdownFileToCache({content, mdName}) {
      let directoryAndFileMapCache = this.getDirectoryAndFileMapFromCache();
      const getPath = this.currentPath.replace(/\//g, '_');
      const getKey = 'directoryAndFile_' + getPath;
      if (!directoryAndFileMapCache.hasOwnProperty(getKey)) {
        directoryAndFileMapCache[getKey] = [];
      }
      const mdExist = this.checkFilenameIsExist(directoryAndFileMapCache, getKey, mdName)
      if (!mdExist) {
        directoryAndFileMapCache[getKey].push(this.createNewMarkdownFileObject(mdName));
      }
      // 重新根据变动整理下目录列表
      this.$refs.directoryOrFileDetail.handleDirectoryData(directoryAndFileMapCache[getKey]);
      // 保存缓存信息
      localStorage.setItem('directoryAndFileMapCache', JSON.stringify(directoryAndFileMapCache));
    },
    /**
     * ✅保存markdown文档
     * @param content markdown文件内容
     * @param markdownName markdown文件名
     * @returns {Promise<void>}
     */
    async doSaveMarkdown({content, mdName}) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'saveMarkdown',
            actionData: {
              content,
              name: mdName,
              path: this.currentPath
            },
          }
        }
      });
    },
    /**
     * ✅清理markdown编辑表单数据
     */
    cleanMarkdownEditFormData() {
      this.willEditMarkdownItem = null;
    },
    /**
     * ✅关闭markdown编辑器弹窗
     */
    closeMarkdownDialog() {
      this.isMarkdownEditDialogShow = false;
    },
    /**
     *  ✅修改目录刷新状态
     * @param event
     */
    onRefreshStatusChange(event) {
      this.refreshing = event;
    },
    /**
     * ✅同步当前目录的子文件/文件夹数量
     */
    setDirectoryTotal(count) {
      this.totalCount = count;
    },
    /**
     * ✅检查待上传图片大小，并剔除超过上限的
     * @param files
     */
    checkAndFilterImageExceedMaxSize(files) {
      if (this.imageMaxUploadFileSize) {
        const isImage = this.materialType === 'image';
        let exceedMaxSizeImg = false;
        if (isImage) {
          exceedMaxSizeImg = files.some(file => file.size > this.imageMaxUploadFileSize);
        }
        const checkImageSizeError = isImage && exceedMaxSizeImg;
        if (checkImageSizeError) {
          window.vtoast.fail('部分图片文件大于 700K, 请重新压缩过后再上传素材');
          files = files.filter(file => file.size <= this.imageMaxUploadFileSize);
        }
      }
    },
    /**
     * ✅新选择上传文件（多选）
     * @param files
     */
    addNewFileList(files) {
      files = Array.from(files);
      this.checkAndFilterImageExceedMaxSize(files);
      if (this.uploadFileDialog === false) {
        this.uploadFileList = [];
      }
      this.uploadFileDialog = true;
      if (this.maxUploadFilesCount && this.uploadFileList.length + files.length > this.maxUploadFilesCount) {
        files = files.slice(0, this.maxUploadFilesCount - this.uploadFileList.length);
      }
      this.uploadFileList.push(...files);
    },
    /**
     * ✅从上传列表中删除文件
     * @param index
     */
    removeUploadFileItem(index) {
      this.uploadFileList.splice(index, 1);
    },
    /**
     * ✅文件上传取消
     */
    onUploadCancel() {
      this.uploadFileList = [];
      this.uploadFileDialog = false;
    },
    /**
     * ✅清空上传文件列表
     */
    cleanUploadList() {
      this.uploadFileList = [];
    },
    /**
     * ✅文件上传成功
     */
    onUploadSuccess() {
      this.onUploadCancel();
      this.doUiAction('refreshDirectory');
    },
    /**
     * ✅从cache中过滤掉被移走的文件
     * @param directoryAndFileMapCache
     * @param fromKey
     * @param filename
     * @returns {*}
     */
    filterMoveSuccessFile(directoryAndFileMapCache, fromKey, filename) {
      return directoryAndFileMapCache[fromKey].filter(item => {
        return item.basename !== filename;
      });
    },
    /**
     * 新建个文件对象
     * @param toDir
     * @param filename
     * @returns {{path, extension: string, basename, size: number, name: string, type: string, sync: boolean}}
     */
    createNewFileObject(toDir, filename) {
      return {
        "type": "file",
        "path": toDir,
        "name": filename.substring(0, filename.lastIndexOf('.')),
        "basename": filename,
        "sync": true,
        "extension": filename.substring(filename.lastIndexOf('.') + 1),
        "size": 0,
      };
    },
    /**
     * ✅同步文件改动到cache
     * @param fromDir
     * @param toDir
     * @param filename
     * @param pasteMode  'moveFile', 'copyFile'
     */
    syncMoveOrCopyFileToCache(fromDir, toDir, filename, pasteMode) {
      console.log(fromDir, toDir, filename, pasteMode)
      if (fromDir !== toDir) {
        const fromPath = fromDir.replace(/\//g, '_');
        const toPath = this.currentPath.replace(/\//g, '_');
        // 获取cache obj
        const fromKey = 'directoryAndFile_' + fromPath;
        const toKey = 'directoryAndFile_' + toPath;
        let directoryAndFileMapFromCache = this.getDirectoryAndFileMapFromCache();
        const cacheKeyList = (Object.keys(directoryAndFileMapFromCache) || []);
        if (cacheKeyList.includes(toKey)) {
          directoryAndFileMapFromCache[toKey].push(this.createNewFileObject(toDir, filename));
        }
        if (pasteMode === 'moveFile') {
          if (cacheKeyList.includes(fromKey)) {
            directoryAndFileMapFromCache[fromKey] = this.filterMoveSuccessFile(directoryAndFileMapFromCache, fromKey, filename);
          }
        }
        this.directoryAndFileList = directoryAndFileMapFromCache[toKey];
        localStorage.setItem('directoryAndFileMapCache', JSON.stringify(directoryAndFileMapFromCache));
      }
    },
    // ✅同步文件改动到后端
    async syncMoveOrCopyFileRequest(fromDir, toDir, filename) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: this.pasteMode === 'cut' ? 'moveFile' : 'copyFile',
            actionData: {
              fromDir,
              toDir,
              filename,
            },
          }
        }
      });
    },
    /**
     * ✅粘贴文件
     * @returns {Promise<void>}
     */
    async pasteItem() {
      window.vtoast.loading({message: this.pasteMode === 'cut' ? '文件移动中' : '文件复制中', time: -1});
      if (this.refreshing) {
        requestAnimationFrame(() => {
          this.pasteItem();
        })
        return;
      }
      const fromDir = this.currentCopyPath.substring(0, this.currentCopyPath.lastIndexOf('/') + 1);
      const toDir = this.currentPath;
      const filename = this.currentCopyPath.substring(this.currentCopyPath.lastIndexOf('/') + 1);
      this.currentCopyPath = null;
      this.syncMoveOrCopyFileToCache(fromDir, toDir, filename, this.pasteMode === 'cut' ? 'moveFile' : 'copyFile');
      await this.syncMoveOrCopyFileRequest(fromDir, toDir, filename);
      window.vtoast.success(this.pasteMode === 'cut' ? '文件移动成功' : '文件复制成功');
    },
    /**
     * ✅修改markdown文件
     * @param content 新markdown文件内容
     * @param path markdown文件路径
     * @returns {Promise<void>}
     */
    async prepareUpdateMarkdown({path}) {
      this.currentMarkdownPath = path;
      const content = await this.$refs.directoryOrFileDetail.getMarkdownDetail(path);
      this.currentMarkdownPath = null;
      this.willEditMarkdownItem = {
        content: content,
        name: path.substring(path.lastIndexOf('/') + 1)
      };
    },
    /**
     * ✅剪切文件
     * @param path
     */
    cutItem(path) {
      this.currentCopyPath = path
      this.pasteMode = 'cut'
      window.vtoast.success('<$ constantUiMap.btn.cut $>');
    },
    /**
     * ✅复制文件
     * @param path
     */
    copyItem(path) {
      this.currentCopyPath = path
      this.pasteMode = 'copy'
      window.vtoast.success('<$ constantUiMap.btn.copied $>');
    },
    /**
     * ✅上一层
     */
    goBack() {
      let path = this.currentPath;
      if (path.endsWith('/')) {
        path = path.substring(0, path.length - 1);
      }
      if (path !== '') {
        this.changeCurrentPath(path.substring(0, path.lastIndexOf('/') + 1));
      } else {
        this.changeCurrentPath("/")
      }
    },
    /**
     * ✅切换目录
     * @param path
     */
    changeCurrentPath(path) {
      console.log(path);
      this.currentPath = path;
    }
  }
})
</script>


<style>
.table-toolbar .v-toolbar__content {
  height: 30px !important;
}

.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #f5f8fa !important;
}

.v-text-field > .v-input__control > .v-input__slot:before,
.v-text-field > .v-input__control > .v-input__slot:after {
  display: none;
}

.storage-select-list .v-list-item--disabled {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.storage-select-list .v-list-item--disabled .v-icon {
  color: #fff;
}


.v-toolbar__content .v-snack__wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.v-toolbar__content .v-snack__content {
  padding: 0;
  height: 30px;
  line-height: 30px;
}

.file-list {
  max-height: calc(100vh - 195px);
  overflow: auto;
}

body .v-menu__content {
  margin-top: 20px;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  color: #41434f;
}

td:not(.v-picker td), th:not(.v-picker th) {
  border-bottom: thin solid rgba(0, 0, 0, .06) !important;
}

td:not(:first-child):not(.v-picker td), th:not(:first-child):not(.v-picker th) {
  border-left: 0 !important;
}

.dataLoading {
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.listDataTable {
  padding: 0 !important;
}

.listDataTable td {
  white-space: nowrap !important;
}


@media screen and (max-width: 500px) {
  body .custom-cloudDrive {
    max-height: calc(100vh - 156px) !important;
    overflow: auto !important;
  }

  body .custom-toolbar,
  body .custom-toolbar .v-toolbar__content {
    height: auto !important;
  }

  body .custom-toolbar .v-toolbar__content {
    flex-wrap: wrap-reverse !important;
  }

  body .custom-toolbar .v-toolbar__content > div:last-child,
  body .custom-toolbar .v-toolbar__content > div:first-child {
    min-width: calc(100vw - 35px) !important;
  }

  body .custom-toolbar .v-toolbar__content > div:last-child {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  body .table-toolbar {
    height: auto !important;
  }

  body .table-toolbar .v-breadcrumbs {
    flex: 1 !important;
  }

  body .table-toolbar .v-toolbar__content {
    flex-wrap: wrap;
    height: auto !important;
  }

  body .table-toolbar .v-toolbar__content > div:first-child {
    min-width: calc(100vw - 35px) !important;
  }
}
</style>
{% endblock %}
