<template id="create-new-directory">
  <!-- 创建文件夹 >>>>>>>>>>>>> -->   
  <v-menu v-if="currentPath" v-model="isNewFolderDialogShown" :close-on-content-click="false" :nudge-width="200"
          offset-y>
    <!-- ✅创建文件夹按钮 -->     
    <template v-slot:activator="{ on }">
      <span>
        <v-btn small v-if="currentPath" depressed color="success" v-on="on" :disabled="currentPath === '/'">
            <v-icon class="mr-1" small>mdi-folder-multiple-plus</v-icon>
            <$ constantUiMap.btn.createFolder $>
        </v-btn>
      </span>
    </template>

    <!--✅创建文件夹弹窗-->
    <v-card>
      <v-card-text class="pb-0">
        <v-text-field color="success" label="<$ constantUiMap.btn.fileName $>" v-model="newFolderName" hide-details filled single-line dense></v-text-field>
      </v-card-text>
      <v-card-actions class="px-4">
        <v-spacer></v-spacer>
        <v-btn @click="isNewFolderDialogShown = false" :disabled="isDirectoryCreating" depressed small><$ constantUiMap.btn.cancel $></v-btn>
        <v-btn color="success" :disabled="!newFolderName || isDirectoryCreating" depressed @click="createDirectory" small>
          <v-progress-circular v-if="isDirectoryCreating" indeterminate :size="18" color="primary"></v-progress-circular>
          {{isDirectoryCreating ? '正在创建' : '<$ constantUiMap.btn.create $>'}}
        </v-btn>
      </v-card-actions>
    </v-card>
    
  </v-menu>
  <!-- <<<<<<<<<<<<< 创建文件夹 -->
</template>
<script>
Vue.component("create-new-directory", {
  vuetify: new Vuetify(),
  name: 'create-new-directory',
  template: '#create-new-directory',
  props: {
    currentPath: String,
  },
  data: () => ({
    isNewFolderDialogShown: false,
    newFolderName: "",
    isDirectoryCreating: false
  }),
  methods: {
    /**
     * 开始创建文件夹
     * @returns {Promise<void>}
     */
    async createDirectory() {
      this.isDirectoryCreating = true;
      await this.doCreateDirectory();
      this.$emit('refresh-directory')
      this.newFolderName = "";
      this.isNewFolderDialogShown = false;
      this.isDirectoryCreating = false;
      this.newFolderPopper = false;
    },
    /**
     * 创建文件夹resource
     * @returns {Promise<void>}
     */
    async doCreateDirectory() {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'mkdir',
            actionData: {path: this.currentPath + this.newFolderName},
          }
        }
      })
    },
  }
});
</script>
