<template id="fileBrowser-list">
  <v-card flat>

    <v-card-text v-if="!currentPath" class="grow d-flex justify-center align-center grey--text"><$ constantUiMap.btn.selectFile $>
    </v-card-text>

    <!-- 文件 -->
    <v-card-text v-else-if="currentPathIsFile" class="grow d-flex justify-center align-center">
      <div class="flex flex-column justify-center align-center text-center">
        <div v-if="fileType === 'markdown'" style="height: calc(100vh - 240px); overflow: auto;">
          <div style="text-align: left;"><$ constantUiMap.btn.file $>：{{ `${host}/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}` }}</div>
          <md2html v-if="viewingMarkdown" :article-content="viewingMarkdown"></md2html>
          <div v-else class="d-flex align-center pa-10" style="justify-content: center">
            <v-progress-circular indeterminate :size="30" color="primary"></v-progress-circular>
            <span>加载中</span>
          </div>
        </div>
        <template v-else>
          <v-img v-if="fileType === 'image'" min-width="30" max-width="500" min-height="30" max-height="500"
                 :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`" :key="currentPath"
                 lazy-src=""
                 class="grey lighten-2 mb-5" style="margin: auto; cursor: pointer;"
                 @click="openFile(`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`)">
          </v-img>
          <video v-if="fileType === 'video'" width="80%" min-width="30" max-width="500" min-height="30" max-height="500"
                 style="height: 70vh"
                 :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`" :key="currentPath"
                 lazy-src=""
                 class="grey lighten-2 mb-5" style="display: block; margin: auto;" controls>
            <source :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`"
                    type="video/mp4">
          </video>
          <audio v-if="fileType === 'audio'" min-width="30" max-width="500" min-height="30" max-height="500"
                 :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`" :key="currentPath"
                 lazy-src=""
                 class="my-10" style="display: block; margin: auto;" controls>
            <source :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`"
                    type="audio/mpeg">
          </audio>
          <div><$ constantUiMap.btn.file $>：{{ `${host}/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}` }}</div>
        </template>
      </div>
    </v-card-text>
    <!--目录-->
    <template v-else>
      <div v-if="directoryRefreshStatus && !directoryList.length && !fileList.length && currentPathIsDir" class="d-flex align-center pa-10 directoryRefreshStatus" style="justify-content: center">
        <v-progress-circular indeterminate :size="20" color="primary"></v-progress-circular>
        <span>读取目录中</span>
      </div>
      <!-- 文件列表 -->
      <v-card-text v-if="directoryList.length || fileList.length" class="pa-0">

        <v-data-table
            :headers="headers"
            mobile-breakpoint="0"
            :items="tableData"
            item-key="path"
            :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
            :items-per-page="20"
            mobile-breakpoint="0"
            :class="{'zebraLine': showTableZebraLine }"
            checkbox-color="success"
            fixed-header
            :data-bottom="85"
            class="elevation-0 listDataTable fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
        >
          <!--文件名-->
          <template v-slot:item.name="{ item }">
            <!--文件名、图片-->
            <div v-if="item.type === 'dir'" @click="changePath(item.path)" role="button">
              <v-icon v-if="item.basename.endsWith('_recycle')">mdi-delete-clock-outline</v-icon>
              <v-icon v-else>mdi-folder-outline</v-icon>
              <span class="ml-2">{{ item.basename.endsWith('_recycle') ? '回收站' : item.basename }}</span>
            </div>
            <div v-else @click="changePath(item.path)" class="d-flex" role="button">
              <template>
                <v-avatar
                    tile
                    v-if="checkIsImg(item.basename)"
                    class=""
                    size="25"
                >
                  <v-img :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}/${item.basename}`"></v-img>
                </v-avatar>
                <v-icon v-else>{{ fileIconList[item.extension.toLowerCase()] || fileIconList['other'] }}</v-icon>
              </template>
              <span style="flex: 1; line-height: 25px" class="ml-2">{{ item.basename }}</span>
            </div>
          </template>
          <!--文件大小-->
          <template v-slot:item.size="{ item }">
            {{ item.type === 'file' ? (item.size ? parseFileSize(item.size) : '-') : '' }}
          </template>
          <!--文件类型-->
          <template v-slot:item.mtime="{ item }">
            {{ item.type === 'file' ? (item.type === 'file' && item.mtime ? dayjs.unix(item.mtime).format("YYYY-MM-DD HH:mm:ss") : '-') : '' }}
          </template>
          <!--文件操作-->
          <template v-slot:item.action="{ item }">
            <!--文件夹操作-->
            <div class="text-right" v-if="item.type === 'dir' && currentPath !== '/'">
              <!--删除-->
              <v-tooltip top v-if="operationOption.delete === true && item.path.indexOf('/_recycle/') === -1 && roleId === 'teacher'">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-bind="attrs" v-on="on" icon @click.stop="startDeleteItem(item)">
                    <v-progress-circular v-if="currentDeleteItemPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                    <v-icon v-else color="grey lighten-1">mdi-delete-outline</v-icon>
                  </v-btn>
                </template>
                <span>移入回收站</span>
              </v-tooltip>
            </div>
            <!--文件操作-->
            <template v-if="item.type === 'file'">
              <!--非回收站的文件、文件夹操作-->
              <div class="text-right" v-if="item.path.indexOf('_recycle') === -1">
                <template v-if="item.sync">
                  <v-progress-circular indeterminate :size="18" color="primary"></v-progress-circular>
                  <span>同步中</span>
                </template>
                <template v-else>
                  <!--文档编辑-->
                  <v-tooltip top v-if="item.extension === 'md'">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="editMarkdownItem(item)">
                        <v-progress-circular v-if="loadingCurrentMarkdownPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                        <v-icon v-else color="grey lighten-1" style="font-size: 20px;">mdi-text-box-edit-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>编辑文档</span>
                  </v-tooltip>
                  <!--剪切-->
                  <v-tooltip top v-if="operationOption.copy === true && roleId === 'teacher'">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="cutItem(item)">
                        <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-cut</v-icon>
                      </v-btn>
                    </template>
                    <span>剪切</span>
                  </v-tooltip>
                  <!--重命名-->
                  <v-menu v-if="operationOption.renameFile === true" v-model="item.newFolderPopper" :close-on-content-click="false" :nudge-width="200" offset-y>
                    <template v-slot:activator="{ on }">
                      <v-btn v-if="currentPath" icon v-on="on" @click="item.newFilename=item.basename;">
                        <v-tooltip top>
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon color="grey lighten-1" v-on="on" style="font-size: 20px;">mdi-rename-box</v-icon>
                          </template>
                          <span>重命名</span>
                        </v-tooltip>
                      </v-btn>
                    </template>
                    <!--重命名弹窗-->
                    <v-card>
                      <v-card-text>
                        <v-text-field label="<$ constantUiMap.btn.fileName $>" v-model="item.newFilename" hide-details color="success" dense filled single-line></v-text-field>
                      </v-card-text>
                      <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn @click="item.newFolderPopper = false" small depressed><$ constantUiMap.btn.cancel $></v-btn>
                        <v-btn small color="success" :disabled="!item.newFilename" depressed @click="renameFile(item)"><$
                          constantUiMap.btn.rename $>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-menu>
                  <!--复制-->
                  <v-tooltip top v-if="operationOption.copy === true">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="copyItem(item)">
                        <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-copy</v-icon>
                      </v-btn>
                    </template>
                    <span>复制</span>
                  </v-tooltip>
                  <!--删除-->
                  <v-tooltip top v-if="operationOption.delete === true && roleId === 'teacher'">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="startDeleteItem(item)">
                        <v-progress-circular v-if="currentDeleteItemPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                        <v-icon v-else color="grey lighten-1">mdi-delete-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>移入回收站</span>
                  </v-tooltip>
                </template>
              </div>
              <div v-else class="text-right">
                <!--回收站事件：剪切-->
                <v-tooltip top v-if="operationOption.copy === true && roleId === 'teacher'">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon @click.stop="cutItem(item)">
                      <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-cut</v-icon>
                    </v-btn>
                  </template>
                  <span>剪切</span>
                </v-tooltip>
              </div>
            </template>
          </template>
          <!--表格底部右侧功能按钮-->
          <template v-slot:footer.prepend>
            <v-menu top offset-y :close-on-content-click="false">
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" icon>
                  <v-icon>mdi-menu</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <!--表格底部右侧分页-->
          <template v-slot:footer.page-text="pagination">
            <span>{{ pagination.pageStart }}-{{ pagination.pageStop }}</span>
            <span class="ml-1">共{{ pagination.itemsLength }}条</span>
          </template>
        </v-data-table>
      </v-card-text>
      <!-- 为空提示 -->
      <v-card-text v-else-if="tableSearchText" class="grow d-flex justify-center align-center grey--text" style="padding: 150px 0">
        {{ directoryRefreshStatus ? '' : '<$ constantUiMap.btn.fileNotFound $>' }}
      </v-card-text>
      <v-card-text v-else class="grow d-flex justify-center align-center grey--text" style="padding: 150px 0">
        {{ directoryRefreshStatus ? '' : '<$ constantUiMap.btn.folderEmpty $>' }}
      </v-card-text>
    </template>
  </v-card>
</template>

<script>
Vue.component("directoryOrFileDetail", {
  vuetify: new Vuetify(),
  name: 'directoryOrFileDetail',
  template: '#fileBrowser-list',
  props: {
    fileIconList: Object,
    roleId: String,
    currentPath: String,
    refreshing: Boolean,
    operationOption: Object,
    tableSearchText: String
  },
  data() {
    return {
      r_fileOrDirList: [],
      host: window.location.host,
      folderAndFileList: [],
      showTableZebraLine: true,
      directoryRefreshStatus: false,
      oldPath: '',
      currentDeleteItemPath: null,
      loadingCurrentMarkdownPath: null,
      viewingMarkdown: null,
      headers: [
        {text: '文件名', align: 'start', value: 'name', width: '40%'},
        {text: '大小', value: 'size', width: '20%'},
        {text: '更新时间', value: 'mtime', width: '20%'},
        {text: '', value: 'action', sortable: false}
      ],
      dayjs: dayjs
    };
  },
  computed: {
    directoryList() {
      const list = this.folderAndFileList.filter(
          item => item.type === "dir" && item.basename.includes(this.tableSearchText)
      );
      list.sort((a, b) => (b.basename.includes('_recycle')) - (a.basename.includes('_recycle')))
      return list;
    },
    fileList() {
      return this.folderAndFileList.filter(
          item => item.type === "file" && item.basename.includes(this.tableSearchText)
      );
    },
    tableData() {
      return this.directoryList.concat(this.fileList)
    },
    currentPathIsDir() {
      return this.currentPath[this.currentPath.length - 1] === "/";
    },
    currentPathIsFile() {
      return !this.currentPathIsDir;
    },
    fileType() {
      const ext = this.currentPath.substring(this.currentPath.lastIndexOf('.') + 1);
      if (ext) {
        if (['jpg', 'jpeg', 'png', 'gif', 'ico', 'svg'].includes(ext.toLowerCase())) {
          return 'image';
        }
        if (['mp4'].includes(ext.toLowerCase())) {
          return 'video';
        }
        if (['mp3'].includes(ext.toLowerCase())) {
          return 'audio';
        }
        if (['md'].includes(ext.toLowerCase())) {
          return 'markdown';
        }
      }
      return '';
    }
  },

  async created() {
    this.oldPath = this.currentPath;
    this.folderAndFileList = [];
    await this.doUiAction('getDirectoryDataFromCache', this.currentPath);
    this.directoryRefreshStatus = true;
  },
  watch: {
    // 监听刷新状态
    async directoryRefreshStatus(value, oValue) {
      this.$emit('refresh-status-change', value);
      if (value && !oValue || this.oldPath !== this.currentPath) {
        this.oldPath = this.currentPath;
        await this.getDirectoryAndFileListByPath('watch:directoryRefreshStatus');
      }
      this.$emit("refresh-done");
    },
    async currentPath() {
      this.folderAndFileList = [];
      this.syncCacheData(this.currentPath);
      this.directoryRefreshStatus = true;
    },
    async refreshing(value) {
      if (value) {
        this.directoryRefreshStatus = true;
      }
    },
    fileType(value) {
      if (value === 'markdown') {
        this.getMarkdownDetail();
      } else {
        this.viewingMarkdown = null;
      }
    }
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getDirectoryDataFromCache':
          this.syncCacheData(uiActionData);
          break;
      }
    },
    checkIsImg(filename) {
      return /\.(jpg|jpeg|png|GIF|JPG|PNG)$/.test(filename);
    },
    changePath(path) {
      this.$emit("path-changed", path);
    },
    createNewMarkdownFileObject(mdName) {
      return {
        "type": "file",
        "path": this.currentPath,
        "name": `${mdName}.md`,
        "basename": `${mdName}.md`,
        "sync": true,
        "extension": "md",
        "size": 16,
      };
    },
    checkFilenameIsExist(directoryAndFileMapCache, getKey, mdName) {
      return directoryAndFileMapCache[getKey].some(item => {
        if (item.name === mdName) {
          item.sync = true;
          return true;
        }
        return false
      });
    },
    addMarkdownFileToCache(mdName) {
      let directoryAndFileMapCache = this.getDirectoryAndFileMapFromCache();
      const getPath = this.currentPath.replace(/\//g, '_');
      const getKey = 'directoryAndFile_' + getPath;
      if (!directoryAndFileMapCache.hasOwnProperty(getKey)) {
        directoryAndFileMapCache[getKey] = [];
      }
      const mdExist = this.checkFilenameIsExist(directoryAndFileMapCache, getKey, mdName)
      if (!mdExist) {
        directoryAndFileMapCache[getKey].push(this.createNewMarkdownFileObject(mdName));
      }
      this.folderAndFileList = directoryAndFileMapCache[getKey];
      localStorage.setItem('directoryAndFileMapCache', JSON.stringify(directoryAndFileMapCache));
    },
    async getDirectoryAndFileListByPath(callThisAction) {
      this.$emit("total-change", this.tableData.length);
      if (this.currentPathIsDir) {
        const path = this.currentPath;
        this.r_fileOrDirList = await this.getDataRequest(path);
        this.syncCacheData(path, this.r_fileOrDirList);
      }
      requestAnimationFrame(resetTableMaxHeight)
      this.directoryRefreshStatus = false;
      this.$emit("total-change", this.tableData.length);
    },
    async getDataRequest(path) {
      return (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'list',
            actionData: {path},
          }
        }
      })).data.appData.resultData.rows;
    },
    async startDeleteItem(item) {
      let confirmed = await window.confirmDialog({
            title:
                `<$ constantUiMap.btn.sureDelete $>${item.type === "dir" ? "<$ constantUiMap.btn.folder $>" : "<$ constantUiMap.btn.file $>"}? \n ${item.basename}`
          }
      );
      if (confirmed) {
        this.$emit("loading", true);
        await this.doDeleteRequest(item);
        this.directoryRefreshStatus = true;
        this.$emit("file-deleted");
        this.$emit("loading", false);
      }
    },
    async doDeleteRequest(item) {
      this.currentDeleteItemPath = item.path;
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'delete',
            actionData: {path: item.path},
          }
        }
      })
      this.currentDeleteItemPath = null;
    },
    async getMarkdownDetailRequest(path) {
      return (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'getMarkdownContent',
            actionData: {
              path,
            },
          }
        }
      })).data.appData.resultData.mdContent;
    },
    async getMarkdownDetail() {
      this.viewingMarkdown = await this.getMarkdownDetailRequest(this.currentPath);
    },
    async editMarkdownItem(item) {
      this.loadingCurrentMarkdownPath = item.path;
      const result = await this.getMarkdownDetailRequest(item.path);
      this.loadingCurrentMarkdownPath = null;
      this.$emit("edit-markdown-item", {content: result, path: item.path});
    },
    async cutItem(item) {
      this.$emit("cut-item", item.path);
    },

    async copyItem(item) {
      this.$emit("copy-item", item.path);
    },
    parseFileSize(bytes, decimals = 2) {
      if (bytes === 0) return '0 bytes';

      const k = 1024;
      const dm = decimals < 0 ? 0 : decimals;
      const sizes = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

      const i = Math.floor(Math.log(bytes) / Math.log(k));

      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    },
    openFile(path) {
      window.open(path)
    },
    async renameFile(item) {
      const {path, newFilename} = item;
      if (!newFilename) {
        window.vtoast.fail('<$ constantUiMap.btn.enterFileName $>');
        return;
      }
      window.vtoast.loading("<$ constantUiMap.btn.fileRename $>");
      await this.syncRenameRequest(path, newFilename);
      item.newFolderPopper = false;
      await this.getDirectoryAndFileListByPath('renameFile');
      const currentPathIsDir = item.path[item.path.length - 1] === "/";
      const pathDir = currentPathIsDir ? item.path : item.path.substring(0, item.path.lastIndexOf('/') + 1);
      this.$emit("read-folder-by-path", pathDir);
      window.vtoast.success('<$ constantUiMap.btn.renamedSuccess $>');
    },
    async syncRenameRequest(path, newFilename) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'renameFile',
            actionData: {
              path,
              newFilename
            },
          }
        }
      })
    },
    // 读取缓存数据
    getDirectoryAndFileMapFromCache() {
      let directoryAndFileMapCache = localStorage.getItem('directoryAndFileMapCache');
      try {
        directoryAndFileMapCache = JSON.parse(directoryAndFileMapCache);
      } catch (err) {
        directoryAndFileMapCache = {};
      }
      if (!directoryAndFileMapCache) {
        directoryAndFileMapCache = {};
      }
      return directoryAndFileMapCache;
    },
    // 同步缓存数据
    syncCacheData(oldPath, r_fileOrDirList) {
      const savePath = oldPath.replace(/\//g, '_');
      const getPath = this.currentPath.replace(/\//g, '_');
      // 获取cache obj
      const saveKey = 'directoryAndFile_' + savePath;
      const getKey = 'directoryAndFile_' + getPath;
      let directoryAndFileMapCache = this.getDirectoryAndFileMapFromCache();
      // 保存到cache
      if (r_fileOrDirList) {
        directoryAndFileMapCache[saveKey] = _.cloneDeep(r_fileOrDirList);
        localStorage.setItem('directoryAndFileMapCache', JSON.stringify(directoryAndFileMapCache));
      }
      // 从cache中取值
      if ((Object.keys(directoryAndFileMapCache) || []).indexOf(getKey) > -1) {
        this.folderAndFileList = directoryAndFileMapCache[getKey];
      } else {
        this.folderAndFileList = [];
      }
    }
  },
});
</script>

<style scoped>

</style>
