<template id="fileBrowser-list">
  <v-card flat>

    <v-card-text v-if="!currentPath" class="grow d-flex justify-center align-center grey--text"><$ constantUiMap.btn.selectFile $>
    </v-card-text>

    <!-- ✅文件详情 >>>>>>>>>>>> -->
    <v-card-text v-else-if="currentPathIsFile" class="grow d-flex justify-center align-center">
      <div class="flex flex-column justify-center align-center text-center">
        <div v-if="fileType === 'markdown'" style="height: calc(100vh - 240px); overflow: auto;">
          <div style="text-align: left;"><$ constantUiMap.btn.file $>：{{ `${host}/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}` }}</div>
          <md2html v-if="currentMarkdownContent" :article-content="currentMarkdownContent"></md2html>
          <div v-else class="d-flex align-center pa-10" style="justify-content: center">
            <v-progress-circular indeterminate :size="30" color="primary"></v-progress-circular>
            <span>加载中</span>
          </div>
        </div>
        <template v-else>
          <v-img v-if="fileType === 'image'" min-width="30" max-width="500" min-height="30" max-height="500"
                 :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`" :key="currentPath"
                 lazy-src=""
                 class="grey lighten-2 mb-5" style="margin: auto; cursor: pointer;"
                 @click="openFile(`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`)">
          </v-img>
          <video v-if="fileType === 'video'" width="80%" min-width="30" max-width="500" min-height="30" max-height="500"
                 style="height: 70vh"
                 :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`" :key="currentPath"
                 lazy-src=""
                 class="grey lighten-2 mb-5" style="display: block; margin: auto;" controls>
            <source :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`"
                    type="video/mp4">
          </video>
          <audio v-if="fileType === 'audio'" min-width="30" max-width="500" min-height="30" max-height="500"
                 :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`" :key="currentPath"
                 lazy-src=""
                 class="my-10" style="display: block; margin: auto;" controls>
            <source :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}?v=${new Date().getTime()}`"
                    type="audio/mpeg">
          </audio>
          <div><$ constantUiMap.btn.file $>：{{ `${host}/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}` }}</div>
        </template>
      </div>
    </v-card-text>
    <!-- ✅<<<<<<<<<<<< 文件详情  -->
    <!--✅目录>>>>>>>>>>>>>>>>>>>-->
    <template v-else>
      <!--✅目录加载中-->
      <div v-if="directoryRefreshStatus && !directoryList.length && !fileList.length && currentPathIsDir" class="d-flex align-center pa-10 directoryRefreshStatus" style="justify-content: center">
        <v-progress-circular indeterminate :size="20" color="primary"></v-progress-circular>
        <span>读取目录中</span>
      </div>
      <!-- ✅文件列表 -->
      <v-card-text v-if="directoryList.length || fileList.length" class="pa-0">

        <v-data-table
            :headers="headers"
            mobile-breakpoint="0"
            :items="tableData"
            item-key="path"
            :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
            :items-per-page="20"
            mobile-breakpoint="0"
            :class="{'zebraLine': showTableZebraLine }"
            checkbox-color="success"
            fixed-header
            :data-bottom="85"
            class="elevation-0 listDataTable fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
        >
          <!--✅文件名-->
          <template v-slot:item.name="{ item }">
            <!--✅文件名、图片-->
            <div v-if="item.type === 'dir'" @click="doUiAction('openDirectoryOrFile', item.path)" role="button">
              <v-icon v-if="item.basename.endsWith('_recycle')">mdi-delete-clock-outline</v-icon>
              <v-icon v-else>mdi-folder-outline</v-icon>
              <span class="ml-2">{{ item.basename.endsWith('_recycle') ? '回收站' : item.basename }}</span>
            </div>
            <div v-else @click="doUiAction('openDirectoryOrFile', item.path)" class="d-flex" role="button">
              <template>
                <v-avatar
                    tile
                    v-if="checkIsImg(item.basename)"
                    class=""
                    size="25"
                >
                  <v-img :src="`/<$ ctx.app.config.appId $>/upload/cloudDrive${currentPath}/${item.basename}`"></v-img>
                </v-avatar>
                <v-icon v-else>{{ fileIconList[item.extension.toLowerCase()] || fileIconList['other'] }}</v-icon>
              </template>
              <span style="flex: 1; line-height: 25px" class="ml-2">{{ item.basename }}</span>
            </div>
          </template>
          <!--✅文件大小-->
          <template v-slot:item.size="{ item }">
            {{ item.type === 'file' ? (item.size ? parseFileSize(item.size) : '-') : '' }}
          </template>
          <!--✅文件类型-->
          <template v-slot:item.mtime="{ item }">
            {{ item.type === 'file' ? (item.type === 'file' && item.mtime ? dayjs.unix(item.mtime).format("YYYY-MM-DD HH:mm:ss") : '-') : '' }}
          </template>
          <!--✅文件操作-->
          <template v-slot:item.action="{ item }">
            <!--✅文件夹操作-->
            <div class="text-right" v-if="item.type === 'dir' && currentPath !== '/'">
              <!--✅删除-->
              <v-tooltip top v-if="operationOption.delete === true && item.path.indexOf('/_recycle/') === -1 && roleId === 'teacher'">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-bind="attrs" v-on="on" icon @click.stop="doUiAction('startDeleteItem', item)">
                    <v-progress-circular v-if="currentDeleteItemPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                    <v-icon v-else color="grey lighten-1">mdi-delete-outline</v-icon>
                  </v-btn>
                </template>
                <span>移入回收站</span>
              </v-tooltip>
            </div>
            <!--✅文件操作-->
            <template v-if="item.type === 'file'">
              <!--✅非回收站的文件、文件夹操作-->
              <div class="text-right" v-if="item.path.indexOf('_recycle') === -1">
                <template v-if="item.sync">
                  <v-progress-circular indeterminate :size="18" color="primary"></v-progress-circular>
                  <span>同步中</span>
                </template>
                <template v-else>
                  <!--✅文档编辑-->
                  <v-tooltip top v-if="item.extension === 'md'">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="doUiAction('editMarkdown', item)">
                        <v-progress-circular v-if="currentMarkdownPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                        <v-icon v-else color="grey lighten-1" style="font-size: 20px;">mdi-text-box-edit-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>编辑文档</span>
                  </v-tooltip>
                  <!--✅剪切-->
                  <v-tooltip top v-if="operationOption.copy === true && roleId === 'teacher'">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="doUiAction('cutItem', item)">
                        <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-cut</v-icon>
                      </v-btn>
                    </template>
                    <span>剪切</span>
                  </v-tooltip>
                  <!--✅重命名-->
                  <v-menu v-if="operationOption.renameFile === true" v-model="item.newFolderPopper" :close-on-content-click="false" :nudge-width="200" offset-y>
                    <template v-slot:activator="{ on }">
                      <v-btn v-if="currentPath" icon v-on="on" @click="doUiAction('startRenameItem', item)">
                        <v-tooltip top>
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon color="grey lighten-1" v-on="on" style="font-size: 20px;">mdi-rename-box</v-icon>
                          </template>
                          <span>重命名</span>
                        </v-tooltip>
                      </v-btn>
                    </template>
                    <!--✅重命名弹窗-->
                    <v-card>
                      <v-card-text>
                        <v-text-field label="<$ constantUiMap.btn.fileName $>" v-model="item.newFilename" hide-details color="success" dense filled single-line></v-text-field>
                      </v-card-text>
                      <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn @click="item.newFolderPopper = false" small depressed><$ constantUiMap.btn.cancel $></v-btn>
                        <v-btn small color="success" :disabled="!item.newFilename" depressed @click="doUiAction('doRename', item)"><$
                          constantUiMap.btn.rename $>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-menu>
                  <!--✅复制-->
                  <v-tooltip top v-if="operationOption.copy === true">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="doUiAction('copyItem', item)">
                        <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-copy</v-icon>
                      </v-btn>
                    </template>
                    <span>复制</span>
                  </v-tooltip>
                  <!--✅删除-->
                  <v-tooltip top v-if="operationOption.delete === true && roleId === 'teacher'">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon @click.stop="doUiAction('startDeleteItem', item)">
                        <v-progress-circular v-if="currentDeleteItemPath === item.path" indeterminate :size="18" color="primary"></v-progress-circular>
                        <v-icon v-else color="grey lighten-1">mdi-delete-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>移入回收站</span>
                  </v-tooltip>
                </template>
              </div>
              <div v-else class="text-right">
                <!--✅回收站事件：剪切-->
                <v-tooltip top v-if="operationOption.copy === true && roleId === 'teacher'">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon @click.stop="doUiAction('cutItem', item)">
                      <v-icon color="grey lighten-1" style="font-size: 20px;">mdi-content-cut</v-icon>
                    </v-btn>
                  </template>
                  <span>剪切</span>
                </v-tooltip>
              </div>
            </template>
          </template>
          <!--✅表格底部右侧功能按钮-->
          <template v-slot:footer.prepend>
            <v-menu top offset-y :close-on-content-click="false">
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" icon>
                  <v-icon>mdi-menu</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <!--✅表格底部右侧分页-->
          <template v-slot:footer.page-text="pagination">
            <span>{{ pagination.pageStart }}-{{ pagination.pageStop }}</span>
            <span class="ml-1">共{{ pagination.itemsLength }}条</span>
          </template>
        </v-data-table>
      </v-card-text>
      <!-- ✅为空提示 -->
      <v-card-text v-else-if="tableSearchText" class="grow d-flex justify-center align-center grey--text" style="padding: 150px 0">
        {{ directoryRefreshStatus ? '' : '<$ constantUiMap.btn.fileNotFound $>' }}
      </v-card-text>
      <v-card-text v-else class="grow d-flex justify-center align-center grey--text" style="padding: 150px 0">
        {{ directoryRefreshStatus ? '' : '<$ constantUiMap.btn.folderEmpty $>' }}
      </v-card-text>
    </template>
    <!--✅<<<<<<<<<<<<目录-->
  </v-card>
</template>

<script>
Vue.component("directoryOrFileDetail", {
  vuetify: new Vuetify(),
  name: 'directoryOrFileDetail',
  template: '#fileBrowser-list',
  props: {
    fileIconList: Object,
    roleId: String,
    currentPath: String,
    refreshing: Boolean,
    operationOption: Object,
    tableSearchText: String,
    currentMarkdownPath: String,
  },
  data() {
    return {
      r_fileOrDirList: [],
      host: window.location.host,

      showTableZebraLine: true,
      directoryRefreshStatus: false,
      oldCurrentPath: '',
      currentDeleteItemPath: null,
      currentMarkdownContent: null,
      headers: [
        {text: '文件名', align: 'start', value: 'name', width: '40%'},
        {text: '大小', value: 'size', width: '20%'},
        {text: '更新时间', value: 'mtime', width: '20%'},
        {text: '', value: 'action', sortable: false}
      ],
      dayjs: dayjs,
      // 目录文件、文件夹列表
      directoryAndFileList: [],
      directoryList: [],
      fileList: [],
      tableData: []
    };
  },
  computed: {
    currentPathIsDir() {
      return this.currentPath[this.currentPath.length - 1] === "/";
    },
    currentPathIsFile() {
      return !this.currentPathIsDir;
    },
    fileType() {
      const ext = this.currentPath.substring(this.currentPath.lastIndexOf('.') + 1);
      if (ext) {
        if (['jpg', 'jpeg', 'png', 'gif', 'ico', 'svg'].includes(ext.toLowerCase())) {
          return 'image';
        }
        if (['mp4'].includes(ext.toLowerCase())) {
          return 'video';
        }
        if (['mp3'].includes(ext.toLowerCase())) {
          return 'audio';
        }
        if (['md'].includes(ext.toLowerCase())) {
          return 'markdown';
        }
      }
      return '';
    }
  },

  async created() {
    this.oldCurrentPath = this.currentPath;
    this.fixedTableHeight();
    await this.doUiAction('cleanDirectoryData');
    await this.doUiAction('getDirectoryDataFromCache', this.currentPath);
    await this.doUiAction('refreshDirectory');
  },
  watch: {
    // 监听刷新状态
    async directoryRefreshStatus(value, oValue) {
      this.$emit('refresh-status-change', value);
      if (value && !oValue || this.oldCurrentPath !== this.currentPath) {
        this.oldCurrentPath = this.currentPath;
        await this.doUiAction('getCurrentPathData', 'watch:directoryRefreshStatus');
      }
      this.$emit("refresh-done");
    },
    // 目录变动，更新目录信息
    async currentPath() {
      await this.doUiAction('cleanDirectoryData');
      await this.doUiAction('getDirectoryDataFromCache', this.currentPath);
      await this.doUiAction('refreshDirectory');
    },
    // 手动调用刷新按钮，触发
    refreshing(value) {
      if (value) {
        this.doUiAction('refreshDirectory');
      }
    },
    // 当前文件类型，markdown文件，直接获取文件内容
    fileType(value) {
      if (value === 'markdown') {
        this.getMarkdownDetail(this.currentPath);
      } else {
        this.currentMarkdownContent = null;
      }
    },
    // 表格过滤
    tableSearchText() {
      this.handleDirectoryData(this.directoryAndFileList)
    }
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getDirectoryDataFromCache':
          this.syncCacheData(uiActionData);
          break;
        case 'getCurrentPathData':
          this.syncTotalCount();
          await this.getCurrentPathDataFromBackend();
          this.syncTotalCount();
          break;
        case 'refreshDirectory':
          this.refreshDirectory(uiActionData);
          break;
        case 'cleanDirectoryData':
          this.cleanDirectoryData(uiActionData);
          break;
        // item 操作
        case 'openDirectoryOrFile':
          this.openDirectoryOrFile(uiActionData);
          break;
        case 'editMarkdown':
          this.editMarkdown(uiActionData);
          break;
        case 'cutItem':
          this.cutItem(uiActionData);
          break;
        case 'copyItem':
          this.copyItem(uiActionData);
          break;
        case 'startRenameItem':
          this.startRenameItem(uiActionData);
          break;
        case 'doRename':
          await this.checkNewFileName(uiActionData);
          await this.doRename(uiActionData);
          this.closeRenameDialog(uiActionData);
          this.renameSuccess();
          this.syncTotalCount();
          await this.getCurrentPathDataFromBackend();
          this.syncTotalCount();

          this.renameFile(uiActionData);
          break;
        case 'startDeleteItem':
          await this.startDeleteItem(uiActionData);
          break;
      }
    },
    // ------ 目录数据 --------------
    /**
     * ✅刷新当前目录
     */
    refreshDirectory() {
      this.directoryRefreshStatus = true;
    },
    /**
     * ✅清空目录数据
     */
    cleanDirectoryData() {
      this.directoryAndFileList = [];
      this.directoryList = [];
      this.fileList = [];
      this.tableData = [];
    },
    /**
     * 如果是目录，从后端获取目录的列表
     * @returns {Promise<void>}
     */
    async getCurrentPathDataFromBackend() {
      if (this.currentPathIsDir) {
        this.r_fileOrDirList =  (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'cloud_drive',
              actionId: 'list',
              actionData: {
                path: this.currentPath
              },
            }
          }
        })).data.appData.resultData.rows;
        this.syncCacheData(this.currentPath, this.r_fileOrDirList);
      }
    },
    /**
     * ✅修复table表格高度
     */
    fixedTableHeight() {
      requestAnimationFrame(resetTableMaxHeight)
    },
    /**
     * ✅同步目录项目总数
     */
    syncTotalCount() {
      this.$emit("total-change", this.tableData.length);
    },
    /**
     * ✅获取后端数据结束
     */
    closeRefreshStatus() {
      this.directoryRefreshStatus = false;
    },
    /**
     * ✅获取markdown文件的内容
     * @param path
     * @returns {Promise<void>}
     */
    async getMarkdownDetail(path) {
      this.currentMarkdownContent = await (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'getMarkdownContent',
            actionData: {
              path
            },
          }
        }
      })).data.appData.resultData.mdContent;
      return this.currentMarkdownContent;
    },
    /**
     * ✅读取缓存数据
     * @returns {any}
     */
    getDirectoryAndFileMapFromCache() {
      let directoryAndFileMapCache = localStorage.getItem('directoryAndFileMapCache');
      if(_.isEmpty(directoryAndFileMapCache)) return {};
      try {
        return JSON.parse(directoryAndFileMapCache);
      } catch (err) {
        return {};
      }
    },
    /**
     * ✅目录的数据分析处理
     * @param list
     */
    handleDirectoryData(list) {
      this.directoryAndFileList = _.cloneDeep(list);
      this.directoryList = this.directoryAndFileList.filter(item => {
        return item.type === "dir" && item.basename.includes(this.tableSearchText);
      });
      // 目录排序，回收站在第一位
      this.directoryList.sort((a, b) => {
        return (b.basename.includes('_recycle')) - (a.basename.includes('_recycle'));
      })
      this.fileList = this.directoryAndFileList.filter(item => {
        return item.type === "file" && item.basename.includes(this.tableSearchText);
      });
      this.tableData = this.directoryList.concat(this.fileList);
    },
    /**
     * ✅同步缓存数据
     * @param currentPath 当前目录
     * @param r_fileOrDirList 待保存的新数据
     */
    syncCacheData(currentPath, r_fileOrDirList) {
      const currentPathLabel = currentPath.replace(/\//g, '_');
      // 获取cache obj
      const currentPathKey = 'directoryAndFile_' + currentPathLabel;
      let directoryAndFileMapCache = this.getDirectoryAndFileMapFromCache();
      // 保存到cache
      if (r_fileOrDirList) {
        directoryAndFileMapCache[currentPathKey] = _.cloneDeep(r_fileOrDirList);
        localStorage.setItem('directoryAndFileMapCache', JSON.stringify(directoryAndFileMapCache));
      }
      // 从cache中取值
      if ((Object.keys(directoryAndFileMapCache) || []).indexOf(currentPathKey) > -1) {
        this.handleDirectoryData(directoryAndFileMapCache[currentPathKey])
      } else {
        this.cleanDirectoryData();
      }
    },
    // ------ item 操作 ------------
    /**
     * 开始删除
     * @param item
     * @returns {Promise<void>}
     */
    async startDeleteItem(item) {
      let confirmed = await window.confirmDialog({
            title:
                `<$ constantUiMap.btn.sureDelete $>${item.type === "dir" ? "<$ constantUiMap.btn.folder $>" : "<$ constantUiMap.btn.file $>"}? \n ${item.basename}`
          }
      );
      if (confirmed) {
        this.$emit("loading", true);
        await this.doDeleteRequest(item);
        this.directoryRefreshStatus = true;
        this.$emit("file-deleted");
        this.$emit("loading", false);
      }
    },
    /**
     * ✅删除操作resource
     * @param item
     * @returns {Promise<void>}
     */
    async doDeleteRequest(item) {
      this.currentDeleteItemPath = item.path;
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'delete',
            actionData: {path: item.path},
          }
        }
      })
      this.currentDeleteItemPath = null;
    },
    /**
     * 文档编辑
     * @param item
     */
    editMarkdown(item) {
      this.$emit("edit-markdown-item", {path: item.path});
    },
    /**
     * 剪切文件
     * @param item
     */
    cutItem(item) {
      this.$emit("cut-item", item.path);
    },
    /**
     * 复制文件
     * @param item
     */
    copyItem(item) {
      this.$emit("copy-item", item.path);
    },
    /**
     * 打开重命名文件mini弹窗
     * @param item
     */
    startRenameItem(item) {
      item.newFilename = item.basename;
    },
    /**
     * 检查重命名文件名
     * @param item
     * @returns {Promise<void>}
     */
    checkNewFileName(item) {
      const {newFilename} = item;
      if (!newFilename) {
        window.vtoast.fail('请输入新的文件名称');
        throw new Error("[checkNewFileName] 否");;
      }
    },
    /**
     * 同步重命名到服务端
     * @param item
     * @returns {Promise<void>}
     */
    async doRename(item) {
      const {path, newFilename} = item;
      window.vtoast.loading("<$ constantUiMap.btn.fileRename $>");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'cloud_drive',
            actionId: 'renameFile',
            actionData: {
              path,
              newFilename
            },
          }
        }
      })
    },
    /**
     * 关闭重命名mini弹窗
     * @param item
     */
    closeRenameDialog(item) {
      item.newFolderPopper = false;
    },
    /**
     * 重命名成功
     */
    renameSuccess() {
      window.vtoast.success('<$ constantUiMap.btn.renamedSuccess $>');
    },
    // ------ 公共方法 --------------
    /**
     * 检查当前文件是否图片
     * @param filename
     * @returns {boolean}
     */
    checkIsImg(filename) {
      return /\.(jpg|jpeg|png|GIF|JPG|PNG)$/.test(filename);
    },
    /**
     * 打开目录/文件
     * @param path
     */
    openDirectoryOrFile(path) {
      this.$emit("path-changed", path);
    },
    /**
     * 新窗口打开文件
     * @param path
     */
    openFile(path) {
      window.open(path)
    },
    /**
     * 文件大小计算
     * @param bytes
     * @param decimals
     * @returns {string}
     */
    parseFileSize(bytes, decimals = 2) {
      if (bytes === 0) return '0 bytes';
      const k = 1024;
      const dm = decimals < 0 ? 0 : decimals;
      const sizes = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
      const i = Math.floor(Math.log(bytes) / Math.log(k));
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    },
  },
});
</script>

<style scoped>

</style>
